#innerPageMenu {
  background-color: black;
  font-color: white;
}

#openMenuLook {
  margin-top: 2em;
  padding-top: 4em;
  background-color: black;

}



#academicTextBox {
  padding: 4em;
  background-color: lightBlue;
}

.noShowText  {
  display: none;

}

.showText {
  display: block;
  font-size: 1.1em;
}




/*/// Going the CSS ROUTE ///*/
/*#preK {
  display: none;
}

#kindergarten  {
  display: none;
}

#firstGrade  {
  display: none;
}
*/
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;

  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 768px) {
  #openMenuLook {
  margin-top: 1em;
  padding-top: 1em;

}
}