@media screen and (min-width: 1000px) {
		.tabletCalendar {
			display: none;
		}

		.smartCalendar {
			display: none;
		}

}


@media screen and (max-width: 999px) {
		.desktopCalendar {
			display: none;
		}

		.tabletCalendar {
			margin-top: 10em;
		}

		.smartCalendar {
			display: none;
		}

}

@media screen and (max-width: 600px) {
		.desktopCalendar {
			display: none;
		}

		.tabletCalendar {
			display: none;
		}

		.smartCalendar {
			margin-top: 5em;
			display: block;
			
		}

}