.activityImages {
	margin-top: 2em;
}

.thumbnail {
	overflow: auto;
	height: auto;

}

.intro {
	margin-top: 3em;
}

ul {
	list-style: none;
}

#musicButton {
	margin-right: 1em;
}

#peButton {
	margin-right: 1em;
}

#musicText  {
	display: none;
}

#musicEnsembles {
	display: none;
}

#peText {
	display: none;
}

#peUniform {
	display: none;
}

#artText {
	display: none;
}

#artShowText {
	display: none;
}

#artButton {
	margin-right: 1em;
}

#libraryText {
	display: none;
}