.carousel-inner img {
	margin: auto;
}



.navbar-fixed-top .nav {
	padding: 0 25px 0 25px;
}

.navbar-brand {
	font-size: 1.70em;
	position: relative;
} 

#cathedralTitle {
	font-size: 1.75em;
}

body {
	padding-top: 10%;
	padding-bottom: 10%;
}

#responsiveCal {
/*	position: relative;
*/	padding-bottom: 25%;
	padding-top: 30px;
	text-align: center;
	/*padding-right:  35%;
	padding-left: 35%;*/
	height: 0;

}

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

@media screen and (min-width: 1000px){
.clear {
	clear: both;
}
footer ul {
	display: inline-block;
	padding: 1em;
	list-style: none;

}

footer ul li {
	display: inline-block;
	padding: 2em;
}

footer .container ul {
	list-style: none;
	text-align: center;
}

footer h4 {
	text-align: center;
}

footer .row {
	text-align: center;
}

footer .social  {
	padding: 0 2em;
	text-align: center;
}

footer .copyright {
	text-align: center;

}
}

@media screen and (min-width: 759px) {
	#smallTitle {
		display: none;
	}
}

@media screen and (max-width: 1000px) {
	.links, .social, .copyright {
		float: none;
		text-align: center;
	}
	.social {
		position: relative;
		margin: 10px 0;
	}
	.links li {
		display: inline-block;
		float: none;
	}
	.bar {
		position: relative;
	}
	.bar-wrap {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 835px) {
	footer> ul li {
		float; none;
		width: auto;
	}
}

@media screen and (max-width: 768px) {
	.links li {
		margin-right:;
	}
}




@media screen and (max-height: \)