.carousel-inner img {
	margin: auto;
}
.navbar-fixed-top .nav {
	padding: 0 25px 0 25px;
}

.navbar-brand {
	font-size: 1.70em;
	position: relative;
} 

#quickLinks {
	position: relative;
	padding: 25px;
}



body {
	padding-top: 10%;
	padding-bottom: 10%;
}

#responsiveCal {
/*	position: relative;
*/	padding-bottom: 25%;
	padding-top: 30px;
	text-align: center;
	/*padding-right:  35%;
	padding-left: 35%;*/
	height: 0;

}




footer .container li {
	display: inline-block;
	padding: 1em;
	
}

footer .container ul {
	list-style: none;
	text-align: center;
}

footer h3 {
	text-align: center;
}