.logo  img {
	max-width: 25%;
	padding: 0;
	margin: 0;
}

.carousel-inner img {
	margin: auto;
}

.navbar-brand {
	font-size: 1.50em;
} 

body {
	padding-top: 70px;
}

.media {
	background-color: lightBlue;
}

footer .container li {
	display: inline-block;
	padding: 1em;
	
}

footer .container ul {
	list-style: none;
	text-align: center;
}

footer h3 {
	text-align: center;
}