.ccBody {
	font-family: Arial;
	font-size: .8em; 
}

.ccContent {
	width: 1000px;
	margin:0 auto;
}

/* Header */
.ccHeader {
	width: 1000px;
   	height: 53px;
   	margin-bottom: 20px;
   	text-align: center;
}

.ccHeaderImg {
	position: relative;
   	/*background-image:url('../images/pollack_header.jpg');*/
   	background-repeat: no-repeat;
   	background-position: center;
   	width: 1000px;
   	height: 53px;
}

/* 3D Secure */
.cc3DSOverlay {
	background: #000; 
	opacity:0.6;  
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top:0; 
	left:0; 
	display:none;
	z-index: 999998;
}
.cc3DSWindow {
	display: none; 
	top: 50%;
	left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    position: absolute; 
    background:#FFF; 
	border: 1px solid #555;
	box-shadow: 2px 2px 40px #222; 
	z-index: 999999;
}
.cc3DSiFrame {
	width: 400px; 
	height: 400px; 
	margin:0 auto;
	z-index: 999999;
}


/* Payment form */
.ccPaymentForm {
	height: 500px;
	margin: 0 270px;
}

.ccPaymentFormError {
	color: red;
}

/* Fieldsets */
.ccPaymentFieldset {
	border: 0;
	width: 450px;
}

.ccPaymentLegend {
	font-weight: bold;
}

.ccBillingFieldset {
	border: 0;
	width: 450px;
}

.ccBillingLegend {
	font-weight: bold;
}

/* General form classes */
.ccFormRow {
	
}

.ccFormLabel {
	padding: .4em; 
	width: 10em; 
	margin: .1em;
	display: inline-block;
}

.ccFormLabelError {
	color:red;
}

.ccFormField {
	
}

.ccFormFieldError {
	border: 1px solid red;
}

.ccFormError {
	margin-left: .5em;
	color: red;
}

.ccFormCardImage {
	
}

/* Name field */
.ccNameRow {
	
}

.ccNameLabel {
	
}

.ccNameLabelError {
	
}

.ccNameField {
	
}

.ccNameFieldError {
	
}

.ccNameError {
	
}

/*  Card Number field */
.ccCardNumberRow {
	
}

.ccCardNumberLabel {

}

.ccCardNumberLabelError {

}

.ccCardNumberField {
	
}

.ccCardNumberFieldError {

}

.ccCardNumberError {

}

/*  Credit Card images */
.ccCardImagesRow {
	
}

.ccCardImagesLabel {

}

.ccAmexCardImage {
	
}

.ccDiscoverCardImage {

}

.ccMCCardImage {

}

.ccVisaCardImage {

}

/*  cvv2 field */
.ccCvv2Row {
	
}

.ccCvv2Label {

}

.ccCvv2LabelError {

}

.ccCvv2Field {
	
}

.ccCvv2FieldError {

}

.ccCvv2Error {

}

/*  Country field */
.ccCountryRow {
	
}

.ccCountryLabel {

}

.ccCountryLabelError {

}

.ccCountryField {
	
}

.ccCountryFieldError {

}

.ccCountryError {

}

/*  Address field */
.ccAddressRow {
	
}

.ccAddressLabel {

}

.ccAddressLabelError {

}

.ccAddressField {
	
}

.ccAddressFieldError {

}

.ccAddressError {

}

/*  Address 2 field */
.ccAddress2Row {
	
}

.ccAddress2Label {

}

.ccAddress2LabelError {

}

.ccAddress2Field {
	
}

.ccAddress2FieldError {

}

.ccAddress2Error {

}

/*  City field */
.ccCityRow {
	
}

.ccCityLabel {

}

.ccCityLabelError {

}

.ccCityField {
	
}

.ccCityFieldError {

}

.ccCityError {

}

/*  State field */
.ccStateRow {
	
}

.ccStateLabel {

}

.ccStateLabelError {

}

.ccStateField {
	
}

.ccStateFieldError {

}

.ccStateError {

}

/*  Zip field */
.ccZipRow {
	
}

.ccZipLabel {

}

.ccZipLabelError {

}

.ccZipField {
	
}

.ccZipFieldError {

}

.ccZipError {

}

/* Submit button */
.ccFormSubmit {
	
}

/* Cancel button */
.ccFormCancel {
	
}
