<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Academics at Cathedral School</title>
  <meta name="description" content =
  "Academics at Cathedral School benefit from small class sizes.  Nearly all Cathedral School students are accepted to top College Preparatory High Schools.  Pre-Kindergarten through Middle School students receive a rigorous education balanced by a nurturing and supportive community which instills not only strong academic skills including extensive integration of technology as well as Catholic values of service and relationship."
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="images/favicon.io" rel="icon" type="image/png">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
   <link href="https://fonts.googleapis.com/css?family=Cinzel|Syncopate:400,700" rel="stylesheet">
   <link rel="alternate" href="http://www.cathedral-or.org" hreflang="en-us" />
   <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   <!-- Include a Sidr bundled CSS theme -->
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76200021-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <!-- default for mobile view -->
  <button class="star-button hideStarButton" id="star-mobile" href="#">Explore <span class="fa fa-star star-icon" aria-hidden="true"></span></button>
  <span itemscope itemtype="http://schema.org/LocalBusiness">
  <ul class="mainNav" id="topTarget">
    <span itemprop="name"><li class="navBrand"><a class="showLink" href="/">Cathedral School</a></li></span>
    <!-- <li class="about"><a class="showLink" href="/about">About</a></li> -->
    <li class="about showLink"><a href="/About">About</a></li>
    <li class="academics showLink activeLink"><a href="/Academics">Academics</a></li>
    <li class="ourprogram showLink"><a href="/ourProgram">Our Program</a></li>
    <li class="admissions showLink"><a href="/admissions">Admissions</a></li>
    <li class="library showLink"><a href="/library">Library</a></li>
    <li class="parents showLink"><a href="/parents">Parents</a></li>
    <li class="alumni showLink"><a href="/alumni">Alumni</a></li>
    <li class="support showLink"><a href="/support">Support</a></li>
    <li><a class="showLink" href="https://cathedralschoolpdx.wordpress.com">News</a></li>
    <li class="smallLink"><a class="showLink" href="tel:(503) 275 9370">Phone &#58; (503) 275-9370</a></li>
    <li><a class="showLink" href="mailto:info@cathedral-or.org">email</a></li>
    <li class="showLink fax smallLink">Fax &#58; (503) 275-9378</li>
    <li><a class="showLink" href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
  </ul>
  <div class="content">
    <div id="academics">
      <h1 class="page-title">Academics</h1>
      <div classs="column">
        <div class="buttonMenu">
          <li><button class="buttonNav welcome active">Welcome</button></li>
          <li><button class="buttonNav faculty">Faculty &#38; Staff</button></li>
          <li><button class="buttonNav prekindergarten">PreKindergarten</button></li>
          <li><button class="buttonNav kindergarten">Kindergarten</button></li>
          <li><button class="buttonNav firstGrade">First Grade</button></li>
          <li><button class="buttonNav secondGrade">Second Grade</button></li>
          <li><button class="buttonNav thirdGrade">Third Grade</button></li>
          <li><button class="buttonNav fourthGrade">Fourth Grade</button></li>
          <li><button class="buttonNav fifthGrade">Fifth Grade</button></li>
          <li><button class="buttonNav middleSchool">Middle School</button></li>
        </div>
      </div>
      <div class="myContainer welcome" id="welcome">
        <div class="column wide-column">

          <h2>Welcome to Cathedral School</h2>
          <p class="featureStory">This fall, in addition to welcoming 250 bright-eyed students, we return to the completed first phase of our seismic upgrade. It is our hope to complete the seismic upgrade project next summer. We have been name an Apple Distinguished School for 2016-2018 Cathedral School joins less than 140 schools that Apple is recognizing nationwide as exemplary learning
            environments and centers of innovation, leadership, and
            educational excellence. The Apple Distinguished School
            designation is reserved for schools that have demonstrated
            Apple's highest vision of a successful 21st century learning
            environment. The selection of Cathedral School as an Apple
            Distinguished School highlights our successes in enhancing and
            extending teaching and learning with thoughtful and innovative
            implementations of technology.<br><br>
            Schools nominated by Apple for designation as an Apple
            Distinguished School must demonstrate Apple's highest vision of
            a successful 21st century learning environment, a strong
            relationship with Apple, and a willingness to do outreach
            activities. The specific manifestations of these qualities
            include&#58;</p>
          <ul class="featureStoryList">
            <li>Visionary Leadership</li>
            <li>One-to-one access to Apple portable computers and/or
              mobile devices for all students, teachers and
              administrators</li>
            <li>Ongoing professional development</li>
            <li>Systems to routinely collect quantitative evidence
              highlighting the success and sustainability of their academic
              programs.</li>
          </ul>
          <p class="featureStory">We have a busy year ahead and I feel so fortunate to have a collaborative team on board to help provide the very best
          Catholic education for your children. We value your participation
          as parents, parishioners, alumni, and donors, and are grateful
          for your support.<br>Thank you to the staff, parents, and students of Cathedral
          School. It is because of the tremendous talent we have on staff,
          the quality and character of our students and parents that
          Cathedral School was able to receive this distinction.</p>
          <p id="signature">Mrs. Amy Biggs, Principal</p>
        </div>
        <div class="column plain-column">
          <img itemprop="image" src="images/img_faculty/biggs3.jpg" alt="Amy Biggs Principal" class="featureStoryImage bioPic picStyle"/>
          <h4>Mrs. Amy Biggs, Principal</h4>
        </div>
      </div>
      <div class="myContainer" id="faculty">
        <div class="column wide-column">
          <h2>Faculty and Staff</h2>
          <table class="cathedral-table">
            <tr class="">
              <td class="tableCol1">
                <h5>Msgr Patrick Brennan</h5>
              </td>
              <td class="tableCol2">
                <h5>Pastor</h5>
              </td>
            <tr>
              <td class="tableCol1">
                <h5>Rev. Timothy Furlow</h5>
              </td>
              <td class="tableCol2">
                <h5>Parochial Vicar</h5>
              </td>
            </tr>
            <tr class="admin-line">
              <td class="tableCol1">
                <h5>Mrs. Amy Biggs</h5>
              </td>
              <td class="tableCol2">
                <h5>Principal</h5>
              </td>
              <td class="tableCol3">
                <p class="facultyEmails bold-col"><a href="mailto:abiggs@cathedral-or.org">abiggs@cathedral-or.org</a>
                </p>
              </td>
            </tr>
            <tr>
              <td class="tableCol1">Mrs. Joanne Cavill</td>
              <td class="tableCol2">Pre-Kindergarten</td>
              <td class="tableCol3">
                <p class="facultyEmails"><a href="mailto:jcavill@cathedral-or.org">jcavill@cathedral-or.org</a></p>
              </td>
            </tr>
            <tr>
              <td class="tableCol1">Mrs. Kate Gobel</td>
              <td class="tableCol2">Kindergarten</td>
              <td class="tableCol3">
                <p class="facultyEmails"><a href="mailto:kgobel@cathedral-or.org">kgobel@cathedral-or.org</a></p>
              </td>
            </tr>
            <tr>
              <td class="tableCol1">Mrs. Stephanie McCoy</td>
              <td class="tableCol2">1st Grade a.m. / Assistant Principal p.m.</td>
              <td class="tableCol3">
                <p class="facultyEmails"><a href="mailto:1stgrade@cathedral-or.org">1stgrade@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Gabi Kilkenny</td>
                <td class="tableCol2">1st Grade p.m.</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:1stgrade@cathedral-or.org">1stgrade@cathedral-or.org</a></p>
                </td>
              </tr>

              <tr>
                <td class="tableCol1">Mrs. Andrea Martin</td>
                <td class="tableCol2">2nd Grade</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:amartin@cathedral-or.org">amartin@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Ingrid Trachtenbarg</td>
                <td class="tableCol2">3rd Grade</td>
                <td class="tableCol3">
                  <p class="facultyEmails">  <a href="mailto:itrachtenbarg@cathedral-or.org">itrachtenbarg@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Miss Mindy Pesicek</td>
                <td class="tableCol2">4th Grade</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:mpesicek@cathedral-or.org">mpesicek@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Miss Alex Hart</td>
                <td class="tableCol2">5th Grade</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:ahart@cathedral-or.org">	ahart@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Megan Aguon</td>
                <td class="tableCol2">6th Grade Homeroom, Middle School Social Science</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:maguon@cathedral-or.org">maguon@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
              <td class="tableCol1">Mr. Mitch Overley</td>
                <td class="tableCol2">7th Grade Homeroom, Middle School Language Arts</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:moverley@cathedral-or.org">moverley@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mr. Brock Burns</td>
                <td class="tableCol2">Middle School Science, Science &#38; Technology Instructional Coach</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:bburns@cathedral-or.org">bburns@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Sarah Wellnitz</td>
                <td class="tableCol2">8th Grade Homeroom, Middle School Math</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:swellnitz@cathedral-or.org">swellitz@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Shelby Walker</td>
                <td class="tableCol2">Spanish Specialist</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:swalker@cathedral-or.org">swalker@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mr. Joe Nadalsky</td>
                <td class="tableCol2">P.E. and Health Specialist</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:jnadalsky@cathedral-or.org">jnadalsky@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Barb English</td>
                <td class="tableCol2">Music Specialist and Religion Liasion</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:benglish@cathedral-or.org">benglish@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Cindy Glenn</td>
                <td class="tableCol2">Media Specialist</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:cglenn@cathedral-or.org">cglenn@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Lisa Jensen</td>
                <td class="tableCol2">Art Specialist, Oregon College of Art and Craft</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:ljensen@cathedral-or.org">ljensen@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Ms. Stacy Murphy</td>
                <td class="tableCol2">Kindergarten Assistant, PM Extended Care, Extended Care</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:smurphy@cathedral-or.org">smurphy@cathedral-or.org</a></p>
                </td>
              </tr>


              <tr>
                  <td class="tableCol1">Miss Natalie Mecham</td>
                <td class="tableCol2">2nd Grade Instructional Assistant, PM Extended Care</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:nmecham@cathedral-or.org">nmecham@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                  <td class="tableCol1">Miss Hanna Joyce</td>
                <td class="tableCol2">1st Grade Instructional Assistant, PM Extended Care</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:hjoyce@cathedral-or.org">hjoyce@cathedral-or.org</a></p>
                </td>
              </tr>

              <tr>
                  <td class="tableCol1">Mrs. Tracy Niedermeyer</td>
                <td class="tableCol2">4th and 5th Grade Instructional Assistant, PM Extended Care</td>
              <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:tniedermeyer@cathedral-or.org">tniedermeyer@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Jennifer Overbay</td>
                <td class="tableCol2">Business Manager</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:joverbay@cathedral-or.org">joverbay@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Susan Hatley</td>
                <td class="tableCol2">Administrative Assistant</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:shatley@cathedral-or.org">shatley@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mrs. Fernanda De Clercq</td>
                <td class="tableCol2">Receptionist</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:fdeclercq@cathedral-or.org">fdeclercq@cathedral-or.org</a></p>
                </td>
              </tr>
              <tr>
                <td class="tableCol1">Mr. Jim Russell</td>
                <td class="tableCol2">Maintenance</td>
                <td class="tableCol3">
                  <p class="facultyEmails"><a href="mailto:jrussell@cathedral-or.org">jrussell@cathedral-or.org</a></p>
                </td>
              </tr>
          </table>
        </div>
        <div class="column plain-column stackPics">
          <div class="side-by-side"><img itemprop="image" src="images/img_faculty/brennanWKids.jpg" alt="Mnsgr Brennan with students" class="picStyle"/></div>
          <div class="side-by-side"><img itemprop="image" src="images/img_faculty/furlowWKids.jpg" alt="Reverand Furlow with students" class="picStyle"/></div>
        </div>
      </div>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Course",
          "name": "Pre-Kindergarten",
          "description": "Our play based pre-kindergarten offers all day and half day options with a spiraling, thematic curriculum",
          "provider": {
            "@type": "Organization",
            "name": "Cathedral School",
            "sameAs": "http://www.cathedral-or.org"
          }
        }
        </script>
      <div class="hidden" id="prekindergarten">
          <div class="column wide-column plain-column">
            <h2>Pre-kindergarten</h2>
            <p class="featureStory">A ten-year journey of faith, knowledge, and service begins
            in Cathedral&rsquo;s Pre-Kindergarten. Pre-K establishes a
            solid foundation that will lead to a positive educational
            experience for years to come. The goal is to create a
            respectful, responsible, and safe classroom and school
            environment where all students can learn and play together as
            followers of Jesus.<br><br>
            In the Pre-K class, God blesses the children with the gift
            of time&#58; time to learn, time to play, and time to grow. The day
            is tailored to excite the seeds of knowledge in the children
            and carefully crafted to nurture the gifts and talents that
            each child possesses. Beginning literary and mathematics skills
            are cultivated through engaging projects done both individually
            and in groups and children are introduced to science, art,
            music, and Spanish programs through fun interactive
            experiences. Finally, these individual children are brought
            together to form a community. Through prayer and play, laughter
            and sharing, they (along with their parents) create friendships
            to carry them through their years at Cathedral.<br><br>
            For our youngest students, service begins with an understanding of fellow students as children of God, who deserve respect and compassion. Students are acknowledged and rewarded for everyday acts of service to fellow classmates and teachers. Within the greater school community, the Pre-K students are introduced to and come to understand the variety of service projects organized by higher grades through their active participation in the collection and donation of food and other needed items for charitable organizations throughout the community.</p>


          </div>
          <div class="column plain-column stackPics">
            <div class="profiles">
              <img itemprop="image" src="images/img_faculty/cavill.jpg" alt="Mrs. Cavill" class=" picStyle">
              <h4>Ms. Joanne Cavill<br>Pre-Kindergarten Teacher</h4>
              <div class="bio-container">
                <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
                <p class="featureStory hidden">Ms. Joanne Cavill is a graduate of Portland State University, where she received her B.S in Sociology. She also attended Southern Oregon University and received her Elementary Education Credential. Ms. Cavill, who joined the Cathedral School staff in the fall of 2017 has been an Early Childhood Educator for 22 years and is very excited to teach at Cathedral. She enjoys spending time with her four daughters and large extended family, especially if it is playing outdoors.
                </p>
              </div>
            </div>
            <div class="profiles">
              <img itemprop="image" src="images/img_faculty/cathedralLogoBlack.jpg" alt="Mrs. Cardoza" class="picStyle">
              <h4>Mrs. Sara Cardoza<br>Instructional Assistant</h4>
              <div class="bio-container">
                <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
                <p class="featureStory hidden">Mrs. Sarah Cardoza graduated from the University of San Diego with a BS in Business Administration and Marketing. She spent several years working in medical sales. Prior to joining Cathedral School in the fall of 2017 she spent many hours as a volunteer in her children’s school, as a reading assistant and in the library. A mother of three children, she is happiest spending time with her husband and children at the beach, cycling, or in other active pursuits
                </p>
              </div>
            </div>
          </div>
      </div>
      <div class="hidden" id="kindergarten">
        <div class="column wide-column plain-column">
            <script type="application/ld+json">
              {
                "@context": "http://schema.org",
                "@type": "Course",
                "name": "Kindergarten",
                "description": "Our kindergarten offers a small class size with a hands on learning approach",
                "provider": {
                  "@type": "Organization",
                  "name": "Cathedral School",
                  "sameAs": "http://www.cathedral-or.org"
                }
              }
          </script>
          <h2>Kindergarten</h2>
          <p class="featureStory">God&rsquo;s creation and the appreciation of each child as a unique and special part of His Creation form the basis for every aspect of a Kindergartener&rsquo;s day. Children learn to pray and participate in prayer in many forms&#58; as a class, with their 8th Grade buddies, and as individuals. Kindergarteners begin to learn to look beyond themselves (and toward others in
          God&rsquo;s creation) by serving children both in daily interactions within their classroom as well as community projects focusing on homeless children.<br><br>
          As the kindergarteners leap into an all-day learning environment, the foundation for future academic success begins with a focus on the routine and expectations of a typical school day and by instilling a sense of personal responsibility to carry students through their academic career. The fundamentals of literacy and mathematical skills are developed through varied methods including whole group, small group, and
          one-on-one; allowing individual students to learn and grow at their own pace. All the while, Cathedral&rsquo;s kindergarten is a fun-filled learning space where smiles and giggles abound as children develop new friendships through play and cooperative learning.<br><br>
          As service is an attribute often best cultivated by example, kindergarteners work side&#45;by&#45;side with their 8th Grade Buddies on the annual Cathedral school&#45;wide sock project that benefits <a href="http://www.potluckinthepark.org/" target="_blank">Potluck in the Park.</a> The kindergarten class then, on its own, decorates and fills sacks with toys, candy, hats, and gloves for the children served by the Potluck in the Park program.</p>
          <h2 class="small-story">Kindergarten News</h2>

          <h2 class="small-story">Kindergarten Curriculum</h2>
          <ul class="newsletters">
            <li><a href="documents/kScience.pdf">Kindergarten Science
              Standards</a></li>
            <li><a href="documents/K-2nd_Language_Arts.pdf">Kindergarten
              through 2nd Grade Language Arts Standards</a></li>
            <li><a href="documents/k_math.pdf">Kindergarten Math
              Standards</a></li>
            <li><a href="documents/k_religion.pdf">Kindergarten Religion
              Standards</a></li>
            <li><a href="documents/k_social_science.pdf">Kindergarten
              Social Science Standards</a></li>
          </ul>
        </div>
        <div class="column plain-column stackPics">
          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/gobel2.jpg" alt="Kate Gobel Kindergarten" class="picStyle">
            <h4>Mrs. Kate Gobel<br>Kindergarten Teacher</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mrs. Gobel has been teaching Kindergarten at Cathedral School since 2004.  Before coming to Cathedral, she taught Kindergarten at Mitch Charter School in Tigard, Oregon.  Mrs. Gobel received her Bachelors of Arts in Elementary Education from Stonehill College and her Masters of Education, from the University of Portland. Outside of Cathedral, Mrs. Gobel enjoys reading and spending time with her husband and two children.</p>
            </div>
          </div>

          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/murphy.jpg" alt="Stacy Murphy Kindergarten" class="picStyle">
            <h4>Ms. Stacy Murphy<br>Instructional Assistant</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">  Ms. Murphy joined the Cathedral School staff in early December of 2013. She came to us from the North Thurston School District in Lacey, WA, where she worked for 13 years as a Behavior Assistant and Para-Educator. Ms. Murphy works full time in the Kindergarten classroom, in addition to her duties in the Extended Care program as both an After Care provider and the Extended Care Director.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden" id="firstGrade">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Course",
            "name": "First Grade",
            "description": "First grade students will focus on becoming confident, fluent and  excited readers",
            "provider": {
              "@type": "Organization",
              "name": "Cathedral School",
              "sameAs": "http://www.cathedral-or.org"
            }
          }
          </script>
        <div class="column wide-column plain-column">
          <h2>First Grade</h2>
          <p class="featureStory">In First Grade, children learn that they are all part of one family, God&rsquo;s family.  The Golden Rule is paramount in behavioral management and peer relations.  The basics of Catholicism are taught and throughout the year, a commitment to service&#58; to parish, school and community, is cultivated.<br><br>
            First Grade builds a firm and broad foundation of literacy proficiency in Cathedral Students.  Students&rsquo; reading and writing skills are individually developed and fostered within a backdrop of different thematic curricula that engage the children throughout the year. First Grade recognizes and appreciates the uniqueness of each six and seven-year-old in the class as they make the transition to a more structured academic environment and seeks to instill a sense of personal responsibility while nurturing each child&rsquo;s love of learning.<br><br>In First Grade, service takes form in an age&#45;appropriate manner to instill a sense of commitment in everyday actions by helping others. First Graders serve the parish through monthly
            church clean up activities. While tidying the pews and picking up trash, the children are also instructed on the architecture, history, and religious art within the sanctuary. Children in First Grade serve the community along with their Fourth Grade Reading Buddies by gathering and assembling Easter Baskets of stuffed animals and candy for Cares NW, a local agency that strives to prevent child abuse and neglect.</p>

          <h2 class="small-story">First Grade News</h2>

          <h2 class="small-story">First Grade Curriculum</h2>
          <ul class="newsletters">
            <li><a href="documents/1stScience.pdf">First Grade Science Standards</a></li>
            <li><a href="documents/K-2nd_Language_Arts.pdf">Kindergarten through 2nd Grade Language Arts Standards</a></li>
            <li><a href="documents/1stMath.pdf">First Grade Math Standards</a></li>
            <li><a href="documents/1stReligion.pdf">First Grade Religion Standards</a></li>
            <li><a href="documents/1stSocialScience.pdf">First Grade Social Science Standards</a></li>
          </ul>
        </div>
        <div class="column plain-column stackPics">
          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/mcCoy.jpg" alt="Kate Gobel Kindergarten" class="picStyle">
            <h4>Mrs. Stephanie McCoy<br>First Grade Teacher and Assistant Principal<br>
              Focus&#58; Religion and Language Arts</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mrs. McCoy has been teaching First Grade at Cathedral School since 2004. Before relocating to Portland, she taught 2nd grade at St. Catherine School in Seattle, Washington. Mrs. McCoy received her Bachelors of Arts in Elementary Education from Washington State University and her Masters of Education, from Seattle University. Outside of Cathedral, Mrs. McCoy loves spending time outdoors and with her family and friends.</p>
            </div>
          </div>
          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/kilkenny.jpg" alt="Gabi Kilkenny First Grade" class="picStyle">
            <h4>Mrs. Gabi Kilkenny<br>First Grade Teacher<br>Focus&#58; Math, Science and Social Studies</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mrs. Kilkenny joined the 1st Grade team in the fall of 2015. Prior to her move to 1st grade, she spent two years teaching 5th grade and one year teaching Middle School writing, both at Cathedral. Mrs. Kilkenny received her Bachelors of Arts at Western Oregon University and her Masters in Teaching from Lewis &#38; Clark College. Mrs. Kilkenny loves her husband, son, and the Oregon Ducks.</p>
            </div>
          </div>
          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/joyce.jpg" alt="Hanna Joyce First Grade" class="picStyle">
            <h4>Ms. Hanna Joyce<br>First Grade Instructional Assistant</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">By joining the Cathedral School staff, Ms. Hanna Joyce has returned to her roots. A graduate of Cathedral, Ms. Joyce is thrilled to be working in the 1st grade class as the instructional assistant. Since leaving Cathedral, Ms. Joyce attended St. Mary’s Academy and University of Portland, including a year in Salzburg, Austria in the Study Abroad Program.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden" id="secondGrade">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Course",
            "name": "Second Grade",
            "description": "Second graders work hard to become independent readers and writers",
            "provider": {
              "@type": "Organization",
              "name": "Cathedral School",
              "sameAs": "http://www.cathedral-or.org"
            }
          }
          </script>
        <div class="column wide-column plain-column">
          <h2>Second Grade</h2>
          <p class="featureStory">Preparation for the Sacraments of Reconciliation and Holy Eucharist are the centerpiece of Second Grade at Cathedral School. Together with St. Mary&rsquo;s Cathedral&rsquo;s pastor and Cathedral&rsquo;s principal, the second grade teacher guides the students and their families on a year&ndash;long
            journey of faith as the children become more fully initiated
            Catholics.<br><br>
            Second Grade challenges its students to think on a deeper level as readers transition from learning to read, to reading to learn. Writing skills are strengthened as these young authors begin to understand the process of crafting a piece of writing and the different forms it may take. This enhanced level of reflection spills over into mathematics where increasingly complex strategies are coupled with tasks that
            require students to write to explain the steps employed in problem solving. Throughout the year, new friendships are formed and existing ones strengthened in an atmosphere of respect, compassion, and fun both in the classroom and on the playground.<br><br>Together with their Sixth Grade buddies, the Second Grade
            organizes and runs &#34;Mac Attack,&#34; a macaroni and cheese
            drive for the Sunshine Division of the Portland Police Bureau.
            Collecting boxes of macaroni and cheese, Mac Attack helps
            children in need of food throughout Portland. The Second and
            Sixth Graders decorate boxes, make signs, and publicize the
            event to the school. The drive is in May, right after First
            Communion, and provides a fun and spirited way for Second
            Graders to put faith into service in a tangible and productive
            way.<br><br> Just like in First Grade, the Second Graders continue to serve the parish through monthly church clean up sessions. As they prepare for the Sacraments of Reconciliation and Holy Eucharist, time in the sanctuary is an opportunity to begin to understand the purpose and symbolism of the many holy objects
            within the church that relate to the sacraments.</p>
            <h2 class="small-story">Second Grade News</h2>

            <h2 class="small-story">Second Grade Curriculum</h2>
            <ul class="newsletters">
              <li><a href="documents/2ndScience.pdf">Second Grade Science Standards</a></li>
              <li><a href="documents/K-2nd_Language_Arts.pdf">Kindergarten through 2nd Grade Language Arts Standards</a></li>
              <li><a href="documents/2ndMath.pdf">Second Grade Math Standards</a></li>
              <li>  <a href="documents/2ndReligion.pdf">Second Grade Religion Standards</a></li>
              <li><a href="documents/2ndSocialScience.pdf">Second Grade Social Science Standards</a></li>
            </ul>
          </div>
          <div class="column plain-column stackPics">
            <div class="profiles">
              <img itemprop="image" src="images/img_faculty/mcMahon.jpg" alt="Andrea Martin 2nd Grade" class="picStyle">
              <h4>Mrs. Andrea Martin<br>Second Grade Teacher</h4>
              <div class="bio-container">
                <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
                <p class="featureStory hidden">Mrs. Martin has been teaching Second Grade at Cathedral School since 2011. Before joining the Cathedral Staff, she taught Kindergarten and First Grade in the Evergreen School District. Mrs. Martin received her Bachelors of Arts in Elementary Education from Concordia University and her Professional Certification Endorsement from Washington State University. Outside of Cathedral, Mrs. Martin loves hiking, spending time with her three children and continuing to learn.</p>
              </div>
            </div>
            <div class="profiles">
              <img src="images/img_faculty/Mecham.jpg" alt="Natalie Mecham second grade"
              class="picStyle">
              <h4>Miss Natalie Mecham<br>Second Grade Instructional Assistant</h4>
              <div class="bio-container">
                <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
                <p class="featureStory hidden">  Ms. Mecham is a graduate of University of Portland, where she double majored in Communications and Theater. While attending school she also taught pre-school. Most recently she worked as an Instructional Assistant at St. Ignatius, where she split her time between the 1st and 2nd grade classrooms.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="hidden" id="thirdGrade">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Course",
            "name": "Third Grade",
            "description": "Third graders will focus on our mission to the world, as Catholic Christians, to learn about social justice and how to role model being a community that serves others",
            "provider": {
              "@type": "Organization",
              "name": "Cathedral School",
              "sameAs": "http://www.cathedral-or.org"
            }
          }
          </script>
        <div class="column wide-column plain-column">
          <h2>Third Grade</h2>
          <p class="featureStory">Learning to pray in many ways&ndash;in the classroom, at
          mass, and on one&rsquo;s own&ndash;and understanding the purpose, meaning, and symbolism of the many forms of Catholic prayer is the focus of Third Grade. The Third Grade lives out its faith through its commitment to serving the remarkable
          children at Providence&rsquo;s Center for Medically Fragile Children.<br><br>
          Third grade is a transitional year in student learning. As reading skills are mastered, children move from basic competence to a greater level of reading comprehension, fostering the creation of independent readers and thinkers. In
          mathematics, students become proficient in multiplication and division skills setting a strong foundation in basic math facts to allow for future growth. The joy of learning is evident in the Third Grade classroom where enthusiasm for academic success
          and a healthy amount of fun come together for a full and active school day.<br><br>For many years, Cathedral&rsquo;s third graders have served
          Providence&rsquo;s Center for Medically Fragile Children, a
          pediatric skilled nursing facility. For many children and
          volunteer parents, this experience is transformative. Cathedral
          students visit and play with children at the center with a
          backdrop of faith—beginning and ending each volunteer session
          in prayer. Students take away from their sessions an
          understanding of all children as creations of God, an
          appreciation of the value of every person, thanksgiving for
          one’s personal health, and a greater self-awareness of their
          ability to be comfortable with children different from
          themselves. These lessons extend beyond the Providence
          volunteer times and make Third Grade time a time of great
          personal growth and maturity.<br><br>
          Back in the parish, Third Graders continue to serve St.
          Mary’s Cathedral through church clean up which couples service
          with religious education through a behind the scenes
          understanding of the sanctuary as a place of worship.</p>
            <h2 class="small-story">Third Grade News</h2>

            <h2 class="small-story">Third Grade Curriculum</h2>
            <ul class="newsletters">
              <li><a href="documents/3rdScience.pdf">Third Grade Science Standards</a></li>
              <li><a href="documents/3rd-5th_Language_Arts.pdf">Third through Fifth Grade Language Arts Standards</a></li>
              <li><a href="documents/3rdMath.pdf">Third Grade Math Standards</a></li>
              <li><a href="documents/3rdReligion.pdf">Third Grade Religion Standards</a></li>
              <li><a href="documents/3rdSocialScience.pdf">Third Grade Social Science Standards</a></li>
            </ul>
          </div>
          <div class="column plain-column stackPics">
            <div class="profiles">
              <img itemprop="image" src="images/img_faculty/trachtenbarg.jpg" alt="Ingrid Trachtenbarg 3rd Grade" class="picStyle">
              <h4>Mrs. Ingrid Trachtenbarg<br>Third Grade Teacher</h4>
              <div class="bio-container">
                <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
                <p class="featureStory hidden">Mrs. Trachtenbarg has been teaching at Cathedral School since 2005. Prior to moving to the Third Grade position in 2012, She was the Kindergarten through Eight Grade Spanish Specialist. Before joining the Cathedral Staff, Mrs. Trachtenbarg taught at Heritage Academy in Hilton head, South Carolina. Mrs. Trachtenbarg received her Bachelors of Arts in Modern Languages and Literature from Sweet Briar College and her Masters of Education, from the University of Portland. Outside of Cathedral, Mrs. Trachtenbarg loves exploring the outdoors and spending time with her husband and twin boys.</p>
              </div>
            </div>
            <div class="profiles">
              <img src="images/img_faculty/odenthal.jpg" alt="Lacey Odenthal Third Grade"
              class="picStyle">
              <h4>Mrs. Lacey Odenthal<br>Third Grade Instructional Assistant</h4>
              <div class="bio-container">
                <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
                <p class="featureStory hidden">Mrs. Lacey Odenthal moved to the Pacific Northwest in the summer of 2017. Most recently from the Bountiful, UT area, Mrs. Odenthal came to Cathedral School with extensive experience working with young children as a classroom aide, camp counselor, extended care program aide, and lifeguard. She is a graduate of the University of California, Riverside, and in addition has received her Certificate in Early Childhood Education. Mrs. Odenthal is excited to be at Cathedral School and to explore her new home of Portland, OR.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="hidden" id="fourthGrade">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Course",
            "name": "Fourth Grade",
            "description": "Fourth graders focus on the history of the state of Oregon which culminates in the 4th grade Oregon Trail overnight trip",
            "provider": {
              "@type": "Organization",
              "name": "Cathedral School",
              "sameAs": "http://www.cathedral-or.org"
            }
          }
          </script>
        <div class="column wide-column plain-column">
          <h2>Fourth Grade</h2>
          <p class="featureStory">Fourth Graders take a step up literally and academically at
          Cathedral. As these students move to the upper floor of our
          school building, the Fourth Grade curriculum becomes more
          complex and organization and personal responsibility for
          completion of schoolwork is instilled in the students. As
          citizens of Oregon, Fourth Graders focus on Oregon&rsquo;s
          geography, history, and political structure. Carefully planned
          field trips throughout the state to significant sites are
          capped off with an overnight camp-out at the Oregon Trail where
          students learn first&ndash;hand how the state&rsquo;s pioneers
          first lived.<br><br>An understanding of living as a person of Christ is made
          manifest through an in&ndash;depth study of the lives of saints
          where the Fourth Graders educate the whole school on a
          personally selected saint. The Fourth Grade core curriculum
          builds on knowledge gained in earlier grades and moves students
          into an increasingly comprehensive and rigorous academic study,
          all the while assessing each child&rsquo;s abilities and
          crafting individual goals for mathematics, reading, and writing
          personally designed for every child to thrive.<br><br>In Fourth Grade, students begin to focus on the needs of
          fellow citizens of Oregon and donate time throughout the year
          at the Oregon Food Bank. Students and volunteer parents work
          together in groups to gather, assemble, and package food for
          needy families throughout the State. At the end of each
          volunteer session, the impact of the task is made clear through
          calculations that tell children how many meals will be prepared
          and families that will be fed by their efforts.<br><br>Within the school building, Fourth Graders have&#45;for the
          first time as Cathedral students&#45;a buddy who is younger&#58;
          every Fourth Grader is matched with a Pre-Kindergarten student.
          Together these pairs attend mass, complete special seasonal
          projects, and participate together in all school events where
          the youngest Cathedral students need a helping hand. Through
          this interaction, compassion, understanding, and empathy are
          fostered while the fourth graders relish the companionship of
          an eager, admiring four-year-old student.</p>
          <h2 class="small-story">Fourth Grade News</h2>

          <h2 class="small-story">Fourth Grade Curriculum</h2>
          <ul class="newsletters">
            <li><a href="documents/4thScience.pdf">Fourth Grade Science Standards</a></li>
            <li><a href="documents/3rd-5th_Language_Arts.pdf">Third through
            Fifth Grade Language Arts Standards</a></li>
            <li><a href="documents/4thMath.pdf">Fourth Grade Math
            Standards</a></li>
            <li><a href="documents/4thReligion.pdf">Fourth Grade Religion
            Standards</a></li>
            <li><a href="documents/4thSocialScience.pdf">Fourth Grade
            Social Science Standards</a></li>
          </ul>
        </div>
        <div class="column plain-column stackPics">
          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/cathedralLogoBlack.jpg" alt="Mrs. Mindy Pesicek fourth grade" class="picStyle">
            <h4>Mrs. Mindy Pesicek<br>Fourth Grade Teacher</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mrs. Pesicek joined the Cathedral School staff in October, 2015. She attended Westmont College in Santa Barbara, CA, where she received degrees in Biology and Philosophy. She completed her Masters in Special Education at Metro State University in Denver, Colorado. Before her move to Portland this fall, Mrs. Pesicek worked as a special education director and teacher for two years in the Denver Public School District. She has also taught English as a Second Language in Japan and Korea. Ms. Pesicek is thrilled to be in Portland and working at Cathedral School, and is enjoying exploring her new state.</p>
            </div>
          </div>
          <div class="profiles">
            <img src="images/img_faculty/Niedermeyer.jpg" alt="Tracy Niedermeyer Fourth Grade"
            class="picStyle">
            <h4>Ms. Tracy Niedermeyer<br>Fourth Grade Instructional Assistant</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Coming Soon . . .</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden" id="fifthGrade">
        <div class="column wide-column plain-column">
          <script type="application/ld+json">
            {
              "@context": "http://schema.org",
              "@type": "Course",
              "name": "Fifth Grade",
              "description": "Fifth grade is an important time for students to cement the skills they have gained throughout the upper grades as well as develop them even further in preparation for middle school",
              "provider": {
                "@type": "Organization",
                "name": "Cathedral School",
                "sameAs": "http://www.cathedral-or.org"
              }
            }
            </script>
          <h2>Fifth Grade</h2>
          <p class="featureStory">Building on their firm understanding of the basic tenets of
          Catholicism, Fifth Graders begin to appreciate their faith on a
          personal level. Through a study of the Old and New Testaments,
          along with the lives of the saints, Fifth Graders start to know
          what it means to be an active member of the Catholic Church and
          how, as Catholics, they are called to a vocation of
          service.<br><br>Fifth Grade marks the final year in Cathedral&rsquo;s
          elementary grades before the transition to its middle school.
          Fifth Grade students are tasked with an enhanced personal
          responsibility for their schoolwork and homework, and classroom
          expectations reflect an appreciation of the increasing
          potential of maturing students. As confident and thoughtful
          readers, Fifth Graders read and analyze texts from varied
          genres to promote both critical thinking skills and independent
          thought. In mathematics, students solidify their calculation
          and computation skills and broaden problem&ndash;solving skills
          to include the study of beginning geometry and algebra. A broad
          range of topics in science and social science engage the
          inquisitive minds and tap into a student&rsquo;s natural
          curiosity of the world around them.<br><br>
          To carry out their call to service, Fifth Graders organize
          and administer the annual Thanksgiving Food Drive that benefits
          Lift Urban Portland, an interfaith network of volunteers that
          work to meet the needs of residents of Northwest and downtown
          Portland. With Cathedral School&rsquo;s location in Northwest
          Portland, students are keenly aware of those in need, as they
          are our school’s neighbors. The Fifth Grade’s efforts rally
          support for donations throughout the school that go to supply
          Lift Urban&rsquo;s food pantry and fill backpacks of nutritious
          food for children who attend the neighborhood public
          school.</p>
          <h2 class="small-story">Fifth Grade News</h2>

          <h2 class="small-story">Fifth Grade Curriculum</h2>
          <ul class="newsletters">
            <li><a href="documents/5thScience.pdf">Fifth Grade Science
            Standards</a></li>
            <li><a href="documents/3rd-5th_Language_Arts.pdf">Third through
              Fifth Grade Language Arts Standards</a></li>
            <li><a href="documents/5thMath.pdf">Fifth Grade Math
              Standards</a></li>
            <li><a href="documents/5thReligion.pdf">Fifth Grade Religion
              Standards</a></li>
            <li><a href="documents/5thSocialScience.pdf">Fifth Grade Social
            Science Standards</a></li>
          </ul>
        </div>
        <div class="column plain-column stackPics">
          <div class="profiles">
            <h2>Picture Coming Soon . . .</h2>
            <h4>Miss Alex Hart<br>Fifth Grade Teacher</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden"></p>
            </div>
          </div>
          <div class="profiles">
            <img src="images/img_faculty/Niedermeyer.jpg" alt="Tracy Niedermeyer Fifth Grade"
            class="picStyle">
            <h4>Ms. Tracy Niedermeyer<br>Fifth Grade Instructional Assistant</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Coming Soon . . .</p>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden" id="middleSchool">
        <div class="column wide-column plain-column">
          <h2>Middle School Program</h2>
          <p class="featureStory">The Cathedral School Middle School serves students in grades
          six through eight. We welcome our students with respect for who
          they are and with delight in what they will bring to the world
          and to our school community. From our dedicated faculty, to our
          innovative academic, spiritual and leadership initiatives, our
          comprehensive middle school program is designed to inspire,
          nurture and support middle school students. We are focused not
          on exposure to content and activities for their own sake but on
          outputs&ndash;what students can show they have learned.</p>

          <div class=""><img src="images/img_academics/middleSchoolPic.jpg" alt="middle schoolers with mnsgr" class="featurePic picStyle"/>
            <img src="images/img_academics/middleSchool2.jpg" alt="middle schoolers studying" class="featurePic picStyle">
          </div>
        </div>
        <div class="column plain-column stackPics">
          <div class="profiles">
            <img itemprop="image" src="images/img_faculty/aguon.jpg" alt="Megan Aguon Middle School" class="picStyle">
            <h4>Mrs. Megan Aguon<br>Sixth Grade Homeroom Teacher<br>
              Middle School Social Science and 5th and 6th grade Math</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mrs. Aguon has been teaching Middle School Social Science and Sixth Grade at Cathedral School since 2012. Before joining the Cathedral Staff, she taught a variety grades in the Archdiocese of Portland as a substitute teacher and was the &#34;favorite substitute&#34; of Cathedral School. Mrs. Aguon received her Bachelors of Arts in Education and Social Science from Warner Pacific University. Outside of Cathedral, Mrs. Aguon loves reading, basketball, volleyball and spending time with her husband.  Mrs. Aguon teaches the following Middle School Classes: 6th Grade Homeroom and Religion, 6th Grade Math, 6th, 7th and 8th Grade Social Science.</p>
            </div>
          </div>
          <div class="profiles">
            <img src="images/img_faculty/burns.jpg" alt="Mr. Brock Burns middle school" class="picStyle">
            <h4>Mr Brock Burns<br>8th Grade Homeroom Teacher and Middle School Science</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mr. Brock Burns joined the Cathedral School staff in the fall of 2017. An Oregon native, he is a graduate of Oregon State University, where he received his BS in Biology. He earned his Masters in Education at Portland State University, and completed his student teaching at Wilson High School. Mr. Burns is happy to join the Cathedral School community.</p>
            </div>
          </div>
          <div class="profiles">
            <img src="images/img_faculty/Overley.jpg" alt=" Mr. Overley middle school" class="picStyle">
            <h4>Mr. Mitch Overley<br>Seventh Grade Homeroom Teacher &#38; 6th-8th Grade Language Arts</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mr. Overley attended Brebeuf Jesuit Preparatory High School, Ball State University, and Wabash College, where he received his Bachelor of Arts in English. At Wabash, he played collegiate baseball, and received the 2015 Outstanding Future Teacher Award by IACTE and the Caleb Mills scholarship/Outstanding Teacher Candidate by the university.<br><br>
              His desire is &#34;to inspire students to express themselves creatively, think critically, and perform to their highest ability. Encourage them to take these abilities into their future academic and professional endeavors. Challenge students to push themselves intellectually, mentally, and socially so that they may better understand themselves and how they interact and impact the world around them.&#34;</p>
            </div>
          </div>
          <div class="profiles">
            <img src="images/img_faculty/wellnitz.jpg" alt="Sarah Wellnitz middle school" class="picStyle">
            <h4>Mrs. Sarah Wellnitz<br>Eighth Grade Homeroom Teacher &#38; Middle School Math Teacher</h4>
            <div class="bio-container">
              <span class="fa fa-user-circle-o open-bio" aria-hidden="true">Bio</span>
              <p class="featureStory hidden">Mrs. Wellnitz joined the Cathedral Staff as a Middle School Math teacher in the fall of 2013. Before coming to Cathedral, she taught Seventh and Eighth Grade Math at St. Joseph’s Catholic School in Vancouver, Washington and privately tutored students in Pre-Algebra through Calculus. Mrs. Wellnitz received her Bachelors of Arts in Education from the University of Portland and her Masters of Education from Concordia University. Outside of Cathedral, Mrs. Wellnitz loves reading, math tutoring, the outdoors and spending time with her husband and three children.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="mobile-home" href="#star-mobile"><span class="fa fa-chevron-circle-up" aria-hidden="true"></span>  Top</a>
    <a class="homing-nav" href="#topTarget"><span class="fa fa-chevron-circle-up" aria-hidden="true"></span>  Top</a>
  </div>
  <div class="footer" id="lastBox">
    <h3> Connect with Us</h3>
    <ul class="bottomNav">
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Portland",
            "addressRegion": "OR",
            "streetAddress": "117 NW 17th Ave"
          },
          "description": "The mission of Cathedral School is to provide an excellent academic education grounded in Catholic religious principles and values, thereby creating a lifelong love for learning and a respect for each person and all creations as gifts of God.",
          "name": "Cathedral School",
          "telephone": "503-275-9370",
          "image":"http://www.cathedral-or.org/"
        }
        </script>
      <li class="bottomLink"><a href="tel:(503) 275 9370"><span class="fa fa-mobile" aria-hidden="true"></span><span itemprop="telephone">Phone (503) 275-9370</span></a></li>
      <li class="bottomLink"><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank"><span class="fa fa-map-marker" aria-hidden="true"></span><span>110 NW 17th Avenue </span><span>Portland OR </span><span>97209</span></a></li>
    </ul>
    <ul class="bottomNav social">
      <li class="bottomLink"><a href="http://www.apple.com/education/apple-distinguished-schools/" target="_blank"><span class="fa fa-apple" aria-hidden="true"></span>Distinguished School</a></li>
      <li class="bottomLink"><a href="https://twitter.com/CathedralPDXOR?lang=en" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
      <li class="bottomLink"><a href="https://www.facebook.com/Cathedral-School-472568026167913/" target="_blank"><span class="fa fa-facebook-official" aria-hidden="true"></span></a></li>
      <li class="bottomLink"><a href="http://www.westwcea.org/" target="_blank"><span class="fa fa-crosshairs" aria-hidden="true"></span>Western Catholic Education Association Member</a></li>
    </ul>
    <p class="siteCredit"><a href="http://www.wendygoodwin.io" target="_blank">&copy; 2017 Wendy J Goodwin Creative</a></p>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>
