<h1 class="page-title">{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
<img class="picStyle featurePic" src="images/img_about/stainedGlass.jpeg" alt="St Marys Cathedral Parish School">
