<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="images/favicon.io" rel="icon" type="image/png">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <meta content=
  "Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8."
  name="description">
  <meta content=
  "Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school"
  name="keywords">
  <title>Cathedral School</title>
  <!-- Bootstrap -->``
   <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
<link href="stylesheets/library.css" media="screen" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76200021-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <span itemscope itemtype="http://schema.org/LocalBusiness"><nav class="navbar navbar-inverse navbar-fixed-top" id="topNavigation">
    <div class="container-fluid" id="topMenuContainer">
      <div class="row mobileTopRow">
        <div class="col-xs-6">
          <a class="navbar-brand" href="/"><span itemprop="name">Cathedral School</span></a>
        </div>
        <div class="col-xs-6 mobileButtonColumn">
        <button type="button" class="btn btn-success btn-lg" id="mobileMenuStar">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Explore
        </button>
      </div>
    </div>
      <!--This is the DESKTOP version of the navigation bar>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class=" row collapse navbar-collapse" id="cathedralMenuToggle">
        <div class="col-xs-12">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/about">About</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Program <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/Academics">Academics</a></li>
                <li><a href="/ourProgram">Our Program</a></li>
                <li class="active"><a href="/library">Library</a></li>
              </ul>
            </li>
            <!-- <li>
              <a href="/academics">Academics</a>
            </li> -->
            <li>
              <a href="/admissions">Admissions</a>
            </li>
            <!-- <li>
                <a href="/ourProgram">Our Program</a>
            </li>
            <li>
              <a href="/library">Library</a>
            </li> -->
            <li>
              <a href="https://cathedralschoolpdx.wordpress.com" target="_blank">News</a>
            </li>

            <li>
              <a href="/calendar">Calendar</a>
            </li>
            <li>
              <a href="/parents">Parents</a>
            </li>
            <li>
              <a href="/alumni">Alumni</a>
            </li>
            <li>
              <a href="/support">Support</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
                <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
                <li><a href="fax">Fax (503) 275-9378</a></li>
                <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <div id="mobileGroup">
        <ul class="nav nav-pills nav-stacked mobileNav">
          <li>
            <a href="/about">About</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Program <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/Academics">Academics</a></li>
              <li><a href="/ourProgram">Our Program</a></li>
              <li class="active"><a href="/library">Library</a></li>
            </ul>
          </li>
          <li>
            <a href="/admissions">Admissions</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
            <ul class="dropdown-menu" id="contactMobileDrop">
              <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
              <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
              <li><a href="fax">Fax (503) 275-9378</a></li>
              <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
            </ul>
          </li>
          <li>
            <a href="https://cathedralschoolpdx.wordpress.com" target="_blank">News</a>
          </li>
          <li>
            <a href="/parents">Parents</a>
          </li>
          <li>
            <a href="/calendar">Calendar</a>
          </li>
          <li>
            <a href="/alumni">Alumni</a>
          </li>
          <li>
            <a href="/support">Support</a>
          </li>
        </ul>
      </div>

      </div>


  <div id="librarySwap">
    <img src="images/img_mobile/libraryMobile.jpg" alt="mobile hero image">
  </div>
  <div class="wrapper">
    <img src="images/libraryMontage.jpg"  alt="library Cathedral Photo montage">
  </div>
  <div class="container">
			<div class="page-header">
				<h2>Cathedral Library <br><small>State of the art technology in a place of calm for children during busy school days.</small></h2>
      </div>
    </div>
        <div class="container ourProgramBox libraryContainer" id="libraryBox">
          <div class="row academicTextBox staffContent">
            <div class="col-sm-12 col-md-6" id="libraryMain">
                    <p>Cathedral takes great pride in its library. In 2000, when a major expansion of the school was undertaken, putting in a state&#45;of&#45;the&#45;art&#45;albeit traditional&#45;library was of paramount importance.  The school and generous donors have continued to invest in the library keeping it up-to-date and fully stocked with books and technology to be a great resource for all students and faculty and a place of calm for the children during busy school days.</p>
                    <p>
                    Students in Pre-Kindergarten through Fifth Grade attend library two times per week. The librarian works in cooperation with the classroom teachers to engage the children in thoughtful curriculum that complements the focus of instruction in the classrooms. In addition, the librarian helps introduce and foster aptitude in research skills both with traditional paper resources in the library and online sources through guided direction on the proper and effective use of Internet research on iPads.</p>

                    <p>Children in Fourth through Eighth Grade have the opportunity to participate in a variety of programs (for example, Battle of the Books and Lunch Bunch) that complement the literature curriculum of the classroom, provide additional opportunities for independent reading for the voracious reader, and foster a sense of academic camaraderie through teamwork and competition.</p>
                </div>
                <div class="col-sm-12 col-md-6 specialistBox">
                  <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <img src="images/img_faculty/glennImg.jpg" alt="Cindy Glenn Media"
                        class="pictureBorder img staffPics" id="mrsGlenn">
                        <div class="pictureCaption">
                          <h5>Mrs. Cindy Glenn </h5>
                          <h5>Media Specialist</h5>
                          <a href="mailto:cglenn@cathedral-or.org">cglenn@cathedral-or.org</a>
                        </div>
                  </div>

                  <div class="caption col-xs-12 col-sm-6 glennBio">
                    <h4>About Mrs. Glenn</h4>
                    <p>
                    Mrs. Glenn has been the Cathedral School Media Specialist since 1995. Before joining the Cathedral Staff, she taught Second Grade at Assumption School. Mrs. Glenn received her Bachelors of Arts in Elementary Education from Western Oregon University and a Library  Media Endorsement from State of Oregon. Outside of Cathedral, Mrs. Glenn loves reading, gardening, knitting and spending time with her husband, mother and three grown children.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>

    <div class="container">
				<div class="row row-bottom-margin">
			  		<div class="col-sm-6 col-md-4">
				    	<div class="thumbnail">
				      	<div class="caption" alt="Info about Battle of the Books">
					        <h3>Battle of the Books</h3>
					        <div id="bookBattleA">
					        <p>To enhance and complement the literature curriculum in the classrooms, the library supports many programs to challenge and nurture eager readers. Led by Cathedral&rsquo;s librarian, Cindy Glenn, Cathedral fields two Battle of the Books (BOB) teams every year: one comprised of Middle School students and one of Fourth and Fifth Graders. BOB is made possible with funds from Cathedral&rsquo;s Run 4 Cathedral annual fundraiser.</p>
					        <p><a class="btn btn-success" id="moreBattle" role="button">Learn More</a></p>
					        </div>


					        <div id="bookBattleB"  class="noShowLibText">
					        <p>Cathedral bases its program on the model by the Oregon Association of School Libraries. Cathedral&rsquo;s teams compete against teams from other Catholic schools in two battles in the spring. The battles consist of quiz-show type questions challenging children&rsquo;s knowledge of content on sixteen selected books. All children in the selected grades are eligible for the team and to qualify, must read eight of the sixteen books and demonstrate proficiency by passing a quiz on the Accelerated Reader Program or filling out an assessment form about the books. Practices for the team are led by Mrs. Glenn at lunchtime and before school in the months leading up to the Battles. The mission of the Battle of the Books program is to encourage and recognize students who enjoy reading, promote academic excellence, and foster cooperative learning and teamwork among students.</p>
					        <p><a class="btn btn-success" id="battleBack" role="button">Back</a></p>
					        </div>
				     	</div>
				     	</div>
			    	</div>
			    	<div class="col-sm-6 col-md-4">
			    		<div class="thumbnail">
			      		<div class="caption">

					        <h3>Programs with Multnomah County Library</h3>
					        <div class="list-group" id="libraryButtons">
					          <button type="button" class="list-group-item" id="zero">Overview</button>
							  <button type="button" class="list-group-item" id="first">Lunch Bunch</button>
							  <button type="button" class="list-group-item" id ="second">Library Card Sign-Ups</button>
							  <button type="button" class="list-group-item" id="third">Banned Book Week</button>
							  <button type="button" class="list-group-item" id="fourth">Summer Reading Program</button>
							</div>
						</div>
						<div id ="libraryTextBox">
							<div class="noShowLibText" id ="MCLIntro">
								<h4>Overview</h4>
						        <p>Taking advantage of its proximity to the main Multnomah County library, Cathedral has formed a relationship with the children&rsquo;s librarians of the Multnomah County Library to complement our own curriculum with the activities and programs available with the public library.</p>
						        </div>
							<div class="noShowLibText" id="lunchBunch">
								<h4>Lunch Bunch</h4>
									<p>Cathedral&rsquo;s own librarian, Mrs. Glenn, has partnered with Multnomah County librarians to run voluntary book club style &ldquo;Lunch Bunches.&rdquo; Beginning in Grade Four, each month, children who sign up for Lunch Bunch read a book from a list compiled by the Multnomah County Librarian. Students bring their lunch and participate in a discussion led by Mrs. Glenn. The program highlights current award-winning children&rsquo;s books and challenges children in reading comprehension and analysis skills. Participating children enjoy reading a variety of books, including many that they would not typically select on their own.</p>
								</div>
								<div class="noShowLibText" id="LibraryCards">
								<h4>Library Card Sign-Ups</h4>
									<p>Every year, Cathedral&rsquo;s kindergarten class participates in the Great Library Card Adventure, the Library&rsquo;rs annual campaign to sign up school children for library cards. With all of our students enjoying their own Multnomah County library card, the full use of the programs available at the Library is ensured. </p>
								</div>
								<div class="noShowLibText "id="BannedBooks">
								<h4>Banned Book Week</h4>
									<p>Designed to coincide with Banned Book Week in late September, Cathedral School Seventh Graders are treated to a presentation from a county librarian that includes an overview of issues of censorship and an introduction to a variety of banned and challenged books. Banned Book Week celebrates the freedom to read and the presentation helps children value free and open access to information in the library.</p></div>
						        <div class="noShowLibText" id="SummerReading">
						        <h4>Summer Reading Program</h4>
						        	<p>As Cathedral students prepare for summer and set goals for summer reading, Multnomah County public librarians again visit our students to share information about and preregister all students for its annual Summer Reading Program. The librarians feature books being published during the summer to create excitement for the coming months of reading.  Cathedral Students have volunteered at Multnomah County Libraries during the summer to help administer these programs and encourage fellow young readers.</p>
						        </div>
						</div>
						</div>
			    	</div>
			    	<div class="col-sm-6 col-md-4">
				    	<div class="thumbnail" id="libraryCatalog">
				      	<div class="caption">
					        <h3>Library Catalog</h3>
					        <div id="libCat">
					        <p>The Oregon School Library Information System (OSLIS) is a database for student research. It provides access to reliable on line databases for students to guide students in in class and at home research projects. It includes encyclopedias, periodicals, opinion pieces, and many other credible sources. In addition, OSLIS works with iPads and can provide a tool for helping beginning readers master sounds and words.  Cathedral students and parents may access OSLIS as follows: </p>
					        <ul>
					        	<li> Link:  www.oslis.org</li>
					        	<li> User Name:  cathed (case sensitive)</li>
					        	<li> Password:  oslis (case sensitive)</li>
					        </ul>
			        	<p><a href="https://cathedralschool.follettdestiny.com/common/welcome.jsp?context=saas22_3600933" class="btn btn-default" role="button">Online Library</a><a href="#libraryCatalog" class="btn btn-primary" id="libDocs" role="button">Documents</a></p>
			        	</div>
			        	</div>
			        	<div id="moreDocs">
			        		<h4>Documents</h4>
                  <p> documents coming soon, please check back.</p>
			        		<!-- <ul>
					    		<li><a href="documents/">Beverly Cleary Children&rsquo;s Choice Award</a></li>
					    		<li><a href="http://cathedral-or.org/documents/ORCA%20BOOK%20REVIEW.pdf">ORCA Book Review</a></li>
					    		<li><a href="http://cathedral-or.org/documents/2015/5/2015%20ORCA%20List%204-5.pdf">2015 ORCA Grades 4 and 5</a></li>
					    		<li><a href="http://cathedral-or.org/documents/2015/5/2015%20ORCA%20List%204-5.pdf">2015 ORCA Grades 6 through 8</a></li>
					    	</ul> -->
			      		<p><a href="#libraryCatalog" class="btn btn-default" id="MCLBack" role="button">Back</a>
			      		</div>
			    	</div>
			    </div>
				<div class="row">
			    	<div class="col-sm-6 col-md-4">
				    	<div class="thumbnail">
				      	<div class="caption">
					        <h3>Birthday Book Program</h3>
					        <p>The Cathedral Library Birthday Book Program offers parents, grandparents, and friends the opportunity to provide a lasting tribute to celebrate student birthdays. An $18 donation funds the purchase of a library book that has been selected with the honoree in mind. This book will be tailored to both the interests and reading level of the birthday celebrant, and will be presented during the student&rsquo;s class. The celebrant will then have the honor of being the first student to check it out from the library. </p>
					        <p>To participate in the program, print and complete the Birthday Book form, and return it, along with the $18 donation, to the school office.</p>
					        <p><a href="documents/birthdayBook.pdf" target="_blank" class="btn btn-info" id="birthdayButton" role="button">Birthday Book Form</a><a href="mailto:cglenn@cathedral-or.org" class="btn btn-default" role="button">Contact Mrs. Glenn</a></p>

					    </div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
					    <div class="thumbnail">
					    <div class="caption">
					        <h3>Book Fair</h3>
					        <p>Every Fall, in partnership with Scholastic Books, Cathedral hosts a Book Fair to both promote and generate excitement for reading and to raise funds to continue to purchase new books for the library. Cathedral&rsquo;s interior courtyard is transformed into a full service bookstore with titles and offerings for babies and toddlers to adult. Designed, set up, and staffed by Cathedral&rsquo;s librarian and parent volunteers, the fair is open to the school, parish, and visitors to Cathedral. </p>
					        <p><a href="http://bookfairs.scholastic.com/bookfairs/cptoolkit/homepage.do?method=homepage&url=cathedral" target="_blank" class="btn btn-primary" role="button">Visit Online Store</a> </p>
					    </div>
				    	</div>
				  	</div>
			  	    <div class="col-sm-6 col-md-4">
				    	<div class="thumbnail">
				      	<div class="caption">
					        <h3>Award Books</h3>
					        <div id ="awardBooks1">
					        <p>The Beverly Cleary Children&rsquo;s Choice Award is sponsored by the Oregon Association of School Libraries and is named in honor of Beverly Cleary, the beloved Oregon-born children&rsquo;s book author. The award is to encourage reading by highlighting good quality literature written on the second and third grade reading level. The contest encourages reading books that students may not otherwise find on their own and are not necessarily the popular best sellers. Cathedral&rsquo;s Second and Third Graders are encouraged to read at least four books from the list of nominated books and then are eligible to vote for their own choice. Mrs. Glenn then submits the votes on behalf of Cathedral&rsquo;s students and shares the winner once it is announced. </p>
					        <p><a href="#awardBooks2" class="btn btn-primary" id="awardBookButton" role="button">Read More</a></p>
					        </div>
				    	 	<div id="awardBooks2" class="noShowLibText">
					        <p>The Oregon Readers&rsquo;  Choice Award is co-sponsored by the Oregon Library Association along with the Oregon Reading Association and the Pacific Northwest Booksellers Association. Targeted at children in Fourth Grade through high school, ORCA has two categories that Cathedral Students participate in: upper elementary school division and middle school (intermediate) division. ORCA is intended to be a fun and exciting way for young readers to become enthusiastic and discriminating readers by reading a variety of books and then voting for their favorites in a democratic process. Cathedral students in grades four through eight are eligible to vote once they have read at least four of the books from the list of nominees.</p>
					        <p><a href="#awardBooks1" class="btn btn-primary" id= "awardBookBack" role="button">Back</a></p>
					       	</div>
				    	</div>
			    		</div>
			  		</div>

			</div>
</div>
      	<footer>

      		<div class = "bar">

              <div class="social">
              	<h4>Connect With Us </h4>
              	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
              	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
              	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
              	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
              </div>
              <div class="clear"></div>
              <div class="copyright">&copy; 2015 All Rights Reserved <br> site design by Wendy Goodwin</div>
              </div>
         <!--  </div>
         </div> -->
      </footer>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/home.js"></script>
  <script type="text/javascript" src="javascripts/library.js"></script>
</body>
</html>
