<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="images/favicon.io" rel="icon" type="image/png">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <meta content=
  "Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8."
  name="description">
  <meta content=
  "Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school"
  name="keywords">
  <title>Cathedral School</title>
  <!-- Bootstrap -->
   <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
  <link href="stylesheets/ourProgram.css" media="screen" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="topNavigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cathedralMenuToggle" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cathedral School</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="cathedralMenuToggle">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about#navImage">Our Mission</a></li>
            <li><a href="/about#learningExpectations">Learning Expectations</a></li>
            <li><a href="http://www.westwcea.org/" target=_blank>Accreditation</a></li>
            <li><a href="/about#appleAnchor">Distinguished by Apple</a></li>
            <li><a href="/about#frequentQuestions">Frequently Asked Questions</a></li>
            <li><a href="/about#ourHistory">Our History</a></li>
          </ul>
        </li>
        <li>
          <a href="/academics">Academics</a>
        </li>
        <li>
          <a href="/admissions">Admissions</a>
        </li>
        <li>
            <a href="/ourProgram">OurProgram</a>
        </li>
        <li>
          <a href="/library">Library</a>
        </li>

        <li>
          <a href="https://cathedralschoolpdx.wordpress.com">News</a>
        </li>
        <li>
          <a href="/calendar">Calendar</a>
        </li>
        <li>
          <a aria-expanded="true" class="dropdown-toggle" data-toggle=
          "dropdown" href="/parents">Parents <span class=
          "caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/parents">Parent Main</a></li>
            <li><a href="documents/2015_2016Tuition.pdf" target="_blank">Parent Handbook</a></li>
            <li><a href="#" target="_blank">Hot Lunch</a></li>
            <li><a href="/documents/parents/extendedCare/afterCareReg.pdf" target="_blank">Extended Care Registration</a></li>
            <li><a href="/documents/parents/instructionsForBackgroundCheck.pdf" target="_blank">Get Setup to Volunteer</a></li>
            <li><a href="http://website.praesidiuminc.com/" target="_blank">Called To Protect Training</a></li>
            <li><a href="https://online.factsmgt.com/signin/3GKRY" target="_blank">FACTS Login</a></li>
            <li><a href="http://www.loyolapress.com/3-minute-retreats-daily-online-prayer.htm" target="_blank">3 Minute Retreat</a></li>
          </ul>
        </li>
        <li>
          <a href="/alumni">Alumni</a>
        </li>
        <li>
          <a href="/support">Support</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
            <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
            <li><a href="fax">Fax (503) 275-9378</a></li>
            <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="wrapper">
    <img src="images/img_ourProgram/ourProgram.jpg"  alt="about Cathedral Photo montage">
    <div class="container ourProgramTabNav">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-tabs aboutNavigation" id="aboutNavBar" role="tablist">
              <li role="presentation"><a href="#"id="programOverview">Explore</a></li>
              <li role="presentation"><a href="#"id="spanish">Spanish</a></li>
              <li role="presentation"><a href="#" id="music">Music</a></li>
              <li role="presentation"><a href="#" id="peLink">Physical Education</a></li>
              <li role="presentation"><a href="#artAnchor" id="artLink">Art</a></li>
              <li role="presentation"><a href="#stemAnchor" id="techLink">Technology </a></li>
              <li role="presentation"><a href="#activitiesAnchor" id="cyoLink">Activities</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  		<!-- //navigation of classes// -->

    <div class="container ourProgramBox welcomeContainer" id="exploreProgram">
      <div class="row academicTextBox staffContent">
        <div class="col-sm-12 col-md-6">
          <div id="coreSpecialists">
            <h3>Explore Our Program</h3>
            <p>Cathedral School welcomes our students with respect for who they are and with delight in what they will bring to the world and our school community. From our dedicated faculty to our innovative academic, spiritual, and leadership initiatives, to our beautiful facility, our comprehensive school program is designed to inspire, nurture, and support students. Cathedral School is committed to helping all young people grow and maintain healthy bodies and active intellects. We want our students to enjoy an active life therefore we emphasize collaboration, inclusion, and skill development in all our programs. Music, sports, community service, and many more opportunities help further the development of our students as they discover their own passions and interests.</p>
          </div>
        </div>
        <div class="col-md-6 thumbnail">
            <img src="images/img_ourProgram/peAlt.jpg" alt="PE Students Playing Hockey"
            class="img exploreHero">
        </div>
      </div>
    </div>
    <!-- Music Top Box -->
    <div class="container ourProgramBox musicContainer" id="musicBox">
      <div class="row academicTextBox staffContent">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-12" id="musicMain">
              <h3>Cathedral Music Program</h3>
              <p><p>Music education at Cathedral takes many forms. Drawing inspiration and direction from both the
              Kod&aacutely Method and Orff Approach, the curriculum engages the minds and bodies of students.  From traditional religious and folk music vocal selections to contemporary songs, children learn the basics of music education with concepts of rhythm, beat, melody, tempo, and dynamics. Vocal training is coupled with instrument play at each grade with a range of pitched and non-pitched percussion instruments from triangles, drums and tambourines to glockenspiels and boomwhackers. Beginning in Grade 4, all students learn the recorder. In the youngest grades, movement and music come together with the help of parachutes, scarves, hula-hoops, and balls.  At its essence, class time is focused on instilling an appreciation of the beauty, art, and joy of music in its many forms.</p>
              <div class="row">
                <div class="col-sm-12">
                  <p><a><img src="images/img_academics/frame.png" alt="learn more" id="moreMusic"></a>  <a><img src="images/img_ourProgram/specialistSched.png" alt="schedule" id="musicSchedule"></a></p>
                </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 noShowText" id="musicMore">
                <h3>Music and Liturgy</h3>
                <p>Music classes are closely tied with liturgical preparation. Each class is tasked with preparing and leading the school in prayer services (Prayer on Wednesday) and masses during the school year.  During music class, students select and rehearse music for the liturgies. Children in grades two through eight interested in furthering their music training and performance can participate in the Cathedral Children&rsquo;s Choir that performs at school masses and monthly parish family masses. All Cathedral students participate in the annual Christmas Program held in St.
                Mary&rsquo;s Cathedral where individual classes as well as all students together present Christmas selections culminating in a reenactment of the gospel story of Christmas complete with choral accompaniment.</p>

  		        		<h4>Choir</h4>
  		        			<p>Open to all children in grades two through eight, the Cathedral Children&rsquo;s Choir provides additional opportunities for vocal instruction and performance for students beyond the school day music instruction. Children practice afterschool and perform both at bi-monthly school masses as well as the monthly Parish Family Masses. As students advance, they are trained and perform as cantors at these masses as well. The choir focuses on liturgical music but blends popular music into instruction to keep the experience fun and engaging for the participants.</p>
  		        		<h4>Strings</h4>
  		        			<p>
  		        			Cathedral School is excited to offer a new strings class beginning fall 2015.  Open to all ages, the class meets immediately after school on a weekly basis.  A variety of styles of music will be covered with an emphasis on teamwork, musicality and artistic expression.  The class will culminate with a performance at the annual Christmas Concert.</p>

              <div class="row">
                <div class="col-sm-12">
                    <img src="images/img_academics/frames.png" alt="return to music" id="backToMusic">
                    <h5 class="blueClass">Music Main</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 noShowText" id="musCal">
              <h3>Music Schedule</h3>
              <div class="row">
                <div class="col-xs-5">
                  <h5>Grade</h5>
                  <p>PreKindergarten</p>
                  <p>Kindergarten</p>
                  <p>Second Grade</p>
                  <p>Third Grade</p>
                  <p>Fourth Grade</p>
                  <p>Fifth Grade</p>
                  <p>Sixth Grade</p>
                  <p>Seventh Grade</p>
                  <p>Eighth Grade</p>
                </div>
                <div class="col-xs-5">
                  <h5>Day</h5>
                  <p>Tuesday, Thursday, Friday</p>
                  <p>Monday, Tuesday </p>
                  <p>Tuesday, Thursday </p>
                  <p>Monday, Friday </p>
                  <p>Tuesday, Wednesday </p>
                  <p>Monday, Thursday </p>
                  <p>Tuesday, Thursday </p>
                  <p>Monday, Friday </p>
                  <p>Open to Middle School All Day</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <img src="images/img_academics/frames.png" alt="return to music" id="calToMusic">
                    <h5 class="blueClass">Music Main</h5>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-sm-12 col-md-6 specialistBox">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <img src="images/img_ourProgram/english.jpg" alt="Barb English Music"
              class="pictureBorder img staffPics" id="mrsEnglish">
              <div class="pictureCaption">
                <h5>Mrs. Barb English</h5>
                <h5>Music Specialist</h5>
                <a href="mailto:benglish@cathedral-or.org">benglish@cathedral-or.org</a>
              </div>
            </div>
            <div class="caption col-xs-12 col-sm-6 teacherBio">
              <h4>About Mrs. English</h4>
              <p>Mrs. English has been teaching at Cathedral School since 1980. Before joining the Cathedral Staff, she taught at Our Lady of the Lake in Lake Oswego and at St. Mary’s in The Dalles, Oregon. While at Cathedral Mrs. English has taught Second Grade, General Math, Music and Computer. In 2012 Mrs. English returned to music room and is now the Cathedral School Music Specialist. Mrs. English received her Bachelors of Arts in Elementary Education from Western Oregon University and is trained in Kodaly and Orff music teaching methods. Mrs. English loves her guitar, reading, rainbows and spending time with her husband and two grown children.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SPANISH TOP BOX -->
    <div class="container ourProgramBox spanishContainer" id="spanishBox">
      <div class="row academicTextBox staffContent">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-12" id="spanishMain">
              <h3>Cathedral Spanish Program</h3>
              <p>Recognizing a well-rounded Catholic education includes exposure to the discipline of learning a world language, an appreciation of diverse cultures, and development of a connection between faith and language, all Cathedral students study Spanish. Children in Pre -Kindergarten through Fifth Grade attend Spanish two times per week, often in small groups. In Middle School, Spanish is part of the core curriculum and students are taught three times a week. The curriculum is tailored to each age group with each grade’s students progressively broadening their vocabulary and increasing the complexity of their language. Communicative language use is a focus at every grade level with the youngest students learning to reply to simple questions and the middle school students engaging in full-length improvised conversations. The middle school curriculum is designed to give students a solid base in Spanish level 1 and an introduction to Spanish level 2, so that students may test out of high school level 1 if they choose.  Students who opt to study a new language in high school are well prepared with the language learning skills they have attained. </p>
              <p>Throughout the school year, the connection between the Catholic Church and Spanish-speaking countries is explored through celebrating an annual prayer service in Spanish, honoring religious holidays important in Hispanic communities (such as the Feast of Our Lady of Guadalupe), and the learning and reciting of Catholic prayers in Spanish.</p>
              <div class="row">
                <div class="col-sm-12">
                  <a><img src="images/img_ourProgram/specialistSched.png" alt="schedule" id="spanishSchedule"></a>
                </div>
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 noShowText" id="spanishMore">
                <h3>Spanish Schedule</h3>
                <div class="row">
                  <div class="col-xs-5">
                    <h5>Grade</h5>
                    <p>PreKindergarten</p>
                    <p>Kindergarten</p>
                    <p>Second Grade</p>
                    <p>Third Grade</p>
                    <p>Fourth Grade</p>
                    <p>Fifth Grade</p>
                    <p>Sixth Grade</p>
                    <p>Seventh Grade</p>
                    <p>Eighth Grade</p>
                  </div>
                  <div class="col-xs-5">
                    <h5>Day</h5>
                    <p>Thursday</p>
                    <p>Thursday, Friday </p>
                    <p>Monday, Friday </p>
                    <p>Tuesday, Thursday </p>
                    <p>Tuesday, Friday </p>
                    <p>Tuesday, Friday </p>
                    <p>Tuesday, Friday </p>
                    <p>Monday, Wednesday </p>
                    <p>Monday, Wednesday </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                      <img src="images/img_academics/frames.png" alt="return to spanish" id="backToSpanish">
                      <h5 class="blueClass">Spanish Main</h5>
                  </div>
                </div>
              </div>


            </div>
          </div>

        <div class="col-sm-12 col-md-6 specialistBox">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <img src="images/img_ourProgram/murphy.jpg" alt="Shelby Walker Spanish"
              class="pictureBorder img staffPics" id="mrsWalker">
              <div class="pictureCaption">
                <h5>Mrs. Shelby Walker </h5>
                <h5>Spanish Specialist</h5>
                <a href="mailto:swalker@cathedral-or.org">swalker@cathedral-or.org</a>
              </div>
            </div>
            <div class="caption col-xs-12 col-sm-6 spanishBio">
              <h4>About Mrs. Walker</h4>
              <p>Mrs. Walker joined the Cathedral Staff as a Spanish Teacher in the fall of 2013. Before relocating to Portland, she taught Spanish to multiple grade levels at St. Andrews Episcopal School in Ridgeland, Mississippi. Mrs. Walker received her Bachelors of Arts with an emphasis in Spanish Language and Literature from Kalamazoo College. She will receive her Masters of Teaching, from the University of Southern Mississippi next year. Outside of Cathedral, Mrs. Walker loves Yoga, visiting the library, anything outdoors and spending time with her husband.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PE TOP BOX -->
    <div class="container ourProgramBox peContainer" id="peBox">
      <div class="row academicTextBox staffContent">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-12" id="peMain">
              <h3>Cathedral PE Program</h3>
              <p>Physical fitness, sportsmanship, and athletic skill all come together in the physical education program at Cathedral.  Throughout the year, students learn and participate in a variety of different team sports with the goal of exposing students to sports they may pursue outside of school and fostering teamwork and cooperation between classmates.  Students are also encouraged on an individual level through FitnessGram, an educational tool to determine students&rsquo; overall physical fitness and suggest areas for improvement when appropriate.  All the while, PE is a time where the fun of sport is celebrated and encouraged.  On the playground, sports education blends with recreation and play when the PE Teacher supervises (and referees) recess play.  At Cathedral, all students are athletes and student achievement in physical education is measured based on effort, participation, skill growth, cooperation, and most importantly, sportsmanship.
              </p>

              <h4>Uniform</h4>
                  <p>All Students must wear non-marking athletic shoes.</p></li>
              <h4>Grades 7 and 8</h4>
                  <p>Students are required to wear a white Cathedral School PE uniform shirt and solid navy or black shorts (white trim and small logos are on the leg are allowed).  Socks and athletic shoes are also required.  Cathedral School PE shirts are for sale for $10.00 in the school office.  Shorts, socks and athletic shoes are to be provided by the student.</p>
              <div class="row">
                <div class="col-sm-12">
                  <a><img src="images/img_ourProgram/specialistSched.png" alt="schedule" id="peSchedule"></a></p>
                </div>
              </div>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-12 noShowText" id="peCal">
              <h3>PE Schedule</h3>
              <div class="row">
                <div class="col-xs-5">
                  <h5>Grade</h5>
                  <p>PreKindergarten</p>
                  <p>Kindergarten</p>
                  <p>Second Grade</p>
                  <p>Third Grade</p>
                  <p>Fourth Grade</p>
                  <p>Fifth Grade</p>
                  <p>Sixth Grade</p>
                  <p>Seventh Grade</p>
                  <p>Eighth Grade</p>
                </div>
                <div class="col-xs-5">
                  <h5>Day</h5>
                  <p>Tuesday, Thursday, Friday</p>
                  <p>Monday, Thursday </p>
                  <p>Thursday, Friday </p>
                  <p>Monday, Friday </p>
                  <p>Monday, Wednesday </p>
                  <p>Wednesday, Friday </p>
                  <p>Monday, Friday </p>
                  <p>Monday, Friday </p>
                  <p>Monday, Wednesday</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                    <img src="images/img_academics/frames.png" alt="return to PE" id="backToPe">
                    <h5 class="blueClass">PE Main</h5>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-sm-12 col-md-6 specialistBox">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <img src="images/img_ourProgram/nadalsky.jpg" alt="Joe Nadalsky PE"
              class="pictureBorder img staffPics" id="mrsEnglish">
              <div class="pictureCaption">
                <h5>Mr. Joe Nadalsky</h5>
                <h5>PE and Health Specialist</h5>
                <a href="mailto:jnadalsky@cathedral-or.org">jnadalsky@cathedral-or.org</a>
              </div>
            </div>
            <div class="caption col-xs-12 col-sm-6 teacherBio">
              <h4>About Mr. Nadalsky</h4>
              <p>Mr. Nadalsky joined the Cathedral Staff as a P.E. Teacher this year. Before relocating to Portland, he taught PE to multiple grade levels at Holy Trinity Catholic School in Grapevine, Texas. Mr. Nadalsky received his Bachelors of Science in Business Administration from the University of Nebraska, Lincoln. He received his Teacher Certification through iteachtexas. Outside of Cathedral, Mr. Nadalsky enjoys soccer, football, basketball and mountain biking. He also loves spending time with his wife and three beautiful daughters.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container">
  <div class="activityImages">
  <div class="row">
		<div class="col-sm-6 col-md-4" id="artAnchor">
	    	<div class="thumbnail">
	      	<img id="artImage" src="images/img_ourProgram/vanGogh2.jpg" alt="Student Artwork">
	      	<div class="caption">
	        <h3>Art</h3>
	        <p><a class="btn btn-primary" id="artButton" role="button">Cathedral Art</a> <a href="#artImage" class="btn btn-default" id="artShowButton" role="button">Art Show</a></p>
	        	<div id='artText'>
		        	<p>Cathedral maintains a collaborative partnership with the Oregon College of Art and Craft that supplies a skilled teacher to run our art program. Miss  Cynthia Trevi&ntilde;o was engaged as our art teacher in the fall of 2015. Prior to joining Cathedral she taught at OCAC in their summer camp program. Her previous experience includes teaching art in an elementary school for six years as well as working with students from the age of four to fifteen in outside programs. Beside her experience in drawing, painting, ceramics, photography and printmaking, she is also fluent in Spanish. In 2008 she was awarded teacher of the year at Gillette Elementary and has exhibited her artwork publicly. </p>
		        	<p>In all grades, drawing and painting instruction are combined with opportunities to work three dimensionally with clay, papier-m&acirc;ch&eacute;, and sculpey.  Notable artists (last year, Matisse, Van Gogh, Warhol, Mondrian, and Kushner) and works (like The Colosseum) inspire student work.</p>
		        	<p>Funds from Run 4 Cathedral and Cathedral&rsquo;s donors make Cathedral School&rsquo;s art program possible.</p>
	        	</div>
	        	<div id='artShowText'>
	        		Every first Thursday in May (to coincide with the Pearl District Art Gallery&rsquo;s First Thursday Program), the Cathedral community gathers to celebrate the students&rsquo; achievement in art during the school year.  Cathedral&rsquo;s gym is transformed into an art gallery where all students&rsquo; work is featured and displayed.  Parents, students, and friends of Cathedral are invited to stroll and linger in the gym-gallery.  The evening is topped off with a community building Spaghetti Dinner prepared by parents of Cathedral and served by our 7th Grade Students.
	        	</div>
	      	</div>
			</div>
		</div>
	   <div class="col-sm-6 col-md-4" id="stemAnchor">
	    <div class="thumbnail">
	      <img id="techImage" src="images/img_ourProgram/stemImage.jpg" alt="kids with tech">
	      <div class="caption">
	        <h3>STEM</h3>
	        <p><a class="btn btn-primary" id="techButton" role="button">Cathedral Technology</a><a href="/about#appleAnchor" class="btn btn-default" id= "appleSchoolButton" role="button">Apple School</a></p>
	        <div id="techText">
	        <p>Cathedral School implemented a 1:1 iPad program during the 2011-2012 school year. The 1:1 environment utilizes technology as a tool to enhance teaching and improve learning. Apple technology has enabled Cathedral School to become a leader of innovative education in the Portland area as well as an Apple Distinguished School.</p>
	        </div>

	      </div>
	    </div>
	  </div>

	   <div class="col-sm-6 col-md-4" id="activitiesAnchor">
	    <div class="thumbnail">
	       <img id="activitiesImage" src="images/img_ourProgram/dancingKids.jpg" alt="kids with tech">
	      <div class="caption">
	        <h3>Activities</h3>
	        <p><a class="btn btn-primary" id="activitiesButton" role="button">CYO</a> </p>
	        <div id="cyoText">
	        <p>Cathedral Elementary and Middle School both participate in the local Portland-area CYO program. As part of the program, our students learn the value of teamwork, good sportsmanship and fair play while developing fundamentals and skills.  All eligible youth are given the opportunity to participate. The following sports are offered to all students, regardless of skill level.</p>
	        <h4>Fall</h4>
	        <ul>
	        	<li>Volleyball (3rd through 8th grade girls)</li>
	        	<li>Hot Shots Basketball (1st &amp 2nd grade boys and girls)</li>
	        	<li>Football*</li>
	        </ul>
	        <h4>Winter</h4>
	        <ul>
	        	<li> Basketball (3rd through 8th grade boys &amp girls)</li>
	        	<li>Registration will open mid-October</li>
	        </ul>
	        <h4>Spring</h4>
	        <ul>
	        	<li>Track and Field (3rd through 8th grade boys and girls)</li>
	        	<li>Player registration for Track &amp Field will be in early March.</li>
	        	<li>Lacrosse* (1st through 8th grade boys and girls)</li>
	        	<li></li>
	        	<li>*If you are have any CYO questions or would like to coach, please contact CYO Athletic Director Kristine Bachand.</li>
	        	<li><a href="mailto:cyo@cathedral-or.org" class="btn btn-default" id="contactCYO" role="button">contact CYO</a></li>
	        </ul>
	       </div>
	      </div>
	    </div>
	  </div>


		</div>
		</div>
		</div>

	<footer>

		<div class = "bar">

        <div class="social">
        	<h4>Connect With Us </h4>
        	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
        	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
        	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
        	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2015 All Rights Reserved</div>
        </div>
   <!--  </div>
   </div> -->
</footer>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
  <!-- <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script> -->
  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/ourProgram.js"></script>
  </body>
  </html>
