<!DOCTYPE html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cathedral School Main</title>
  <meta name="description" content =
  "Cathedral School students enjoy weekly PE, Music, Spanish and Art Classes with dedicated specialists for each discipline.  Special events include concerts, art shows and sporting tournaments bring excitement and enrichment to these important activities."
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="images/favicon.io" rel="icon" type="image/png">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
   <link href="https://fonts.googleapis.com/css?family=Cinzel|Syncopate:400,700" rel="stylesheet">
   <link rel="alternate" href="http://www.cathedral-or.org" hreflang="en-us" />
   <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   <!-- Include a Sidr bundled CSS theme -->
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76200021-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <!-- default for mobile view -->
  <button class="star-button hideStarButton" id="star-mobile" href="#">Explore <span class="fa fa-star star-icon" aria-hidden="true"></span></button>
  <span itemscope itemtype="http://schema.org/LocalBusiness">
  <ul class="mainNav" id="topTarget">
    <span itemprop="name"><li class="navBrand"><a class="showLink" href="/">Cathedral School</a></li></span>
    <!-- <li class="about"><a class="showLink" href="/about">About</a></li> -->
    <li class="about showLink"><a href="/About">About</a></li>
    <li class="academics showLink"><a href="/Academics">Academics</a></li>
    <li class="ourprogram showLink activeLink"><a href="/ourProgram">Our Program</a></li>
    <li class="admissions showLink "><a href="/admissions">Admissions</a></li>
    <li class="library showLink"><a href="/library">Library</a></li>
    <li class="parents showLink"><a href="/parents">Parents</a></li>
    <li class="alumni showLink"><a href="/alumni">Alumni</a></li>
    <li class="support showLink"><a href="/support">Support</a></li>

    <!-- <li class="academics showLink" target="#academics">Academics</li> -->
    <!-- <li class="ourprogram showLink" target="#ourprogram">Our Program</li> -->
    <!-- <li class="library showLink" target="#library">Library</li> -->
    <li><a class="showLink" href="https://cathedralschoolpdx.wordpress.com">News</a></li>

    <li class="smallLink"><a class="showLink" href="tel:(503) 275 9370">Phone &#58; (503) 275-9370</a></li>
    <li><a class="showLink" href="mailto:shatley@cathedral-or.org">email</a></li>
    <li class="showLink fax smallLink">Fax &#58; (503) 275-9378</li>
    <li><a class="showLink" href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
  </ul>
  <div class="content">
    <div id="ourprogram">
    <h1 class="page-title">Our Program</h1>
    <div class="heroPic subSection-hero"><img src="images/img_ourProgram/ourProgram.jpg"  alt="about Cathedral Photo montage" class="desktopHero">
    </div>
    <div class="myContainer">
        <div class="column  nocolor-column equal-column">
          <img src="images/img_ourProgram/peAlt.jpg" alt="PE Students Playing Hockey" class="picStyle featurePic">
        </div>
        <div class="column nocolor-column equal-column">
          <h2>Explore our Program</h2>
          <p class="featureStory">Cathedral School welcomes our students with respect for who they are and with delight in what they will bring to the world and our school community. From our dedicated faculty to our innovative academic, spiritual, and leadership initiatives, to our beautiful facility, our comprehensive school program is designed to inspire, nurture, and support students. Cathedral School is committed to helping all young people grow and maintain healthy bodies and active intellects. We want our students to enjoy an active life therefore we emphasize collaboration, inclusion, and skill development in all our programs. Music, sports, community service, and many more opportunities help further the development of our students as they discover their own passions and interests.</p>
        </div>
      </div>
      <div class="myContainer">
        <div class="column  nocolor-column equal-column">
          <h2>Cathedral Music Program</h2>
          <p class="featureStory programStory">Music classes are closely tied with liturgical preparation. Each class is tasked with preparing and leading the school in prayer services (Prayer on Wednesday) and masses during the school year.  During music class, students select and rehearse music for the liturgies. Children in grades two through eight interested in furthering their music training and performance can participate in the Cathedral Children&rsquo;s Choir that performs at school masses and monthly parish family masses. All Cathedral students participate in the annual Christmas Program held in St.
          Mary&rsquo;s Cathedral where individual classes as well as all students together present Christmas selections culminating in a reenactment of the gospel story of Christmas complete with choral accompaniment.</p>
          <h4 class="content-subtitle">Choir</h4>
          <p class="featureStory programStory">Open to all children in grades two through eight, the Cathedral Children&rsquo;s Choir provides additional opportunities for vocal instruction and performance for students beyond the school day music instruction. Children practice afterschool and perform both at bi-monthly school masses as well as the monthly Parish Family Masses. As students advance, they are trained and perform as cantors at these masses as well. The choir focuses on liturgical music but blends popular music into instruction to keep the experience fun and engaging for the participants.</p>
        </div>
        <div class="column  nocolor-column equal-column">
          <div class="bio-wide-container">
            <img src="images/img_ourProgram/english.jpg" alt="Barb English Music" class="featureStoryImage picStyle specialistPic">
          </div>
          <div class="bio-wide-container">
            <div class="teacher-contact">
              <h5>Mrs. Barb English<br>Music Specialist</h5>
              <a href="mailto:benglish@cathedral-or.org">benglish@cathedral-or.org</a>
            </div>
            <p class="featureStory specialist-bio">Mrs. English has been teaching at Cathedral School since 1980. Before joining the Cathedral Staff, she taught at Our Lady of the Lake in Lake Oswego and at St. Mary’s in The Dalles, Oregon. While at Cathedral Mrs. English has taught Second Grade, General Math, Music and Computer. In 2012 Mrs. English returned to music room and is now the Cathedral School Music Specialist. Mrs. English received her Bachelors of Arts in Elementary Education from Western Oregon University and is trained in Kodaly and Orff music teaching methods. Mrs. English loves her guitar, reading, rainbows and spending time with her husband and two grown children.</p>
          </div>
        </div>
      </div>
      <div class="myContainer">
        <div class="column  nocolor-column equal-column">
          <h2>Cathedral Spanish Program</h2>
          <p class="featureStory programStory">Recognizing a well-rounded Catholic education includes exposure to the discipline of learning a world language, an appreciation of diverse cultures, and development of a connection between faith and language, all Cathedral students study Spanish. Children in Pre -Kindergarten through Fifth Grade attend Spanish two times per week, often in small groups. In Middle School, Spanish is part of the core curriculum and students are taught three times a week. The curriculum is tailored to each age group with each grade’s students progressively broadening their vocabulary and increasing the complexity of their language.<br><br>Communicative language use is a focus at every grade level with the youngest students learning to reply to simple questions and the middle school students engaging in full-length improvised conversations. The middle school curriculum is designed to give students a solid base in Spanish level 1 and an introduction to Spanish level 2, so that students may test out of high school level 1 if they choose.  Students who opt to study a new language in high school are well prepared with the language learning skills they have attained.<br><br>Throughout the school year, the connection between the Catholic Church and Spanish-speaking countries is explored through celebrating an annual prayer service in Spanish, honoring religious holidays important in Hispanic communities (such as the Feast of Our Lady of Guadalupe), and the learning and reciting of Catholic prayers in Spanish.<br><a href=" https://sites.google.com/site/maestrawalker/" target="_blank">Ms. Walker&#39;s Website</a></p>
        </div>
        <div class="column  nocolor-column equal-column">
          <div class="bio-wide-container">
            <img src="images/img_ourProgram/walker.jpg" alt="Shelby Walker Spanish" class="featureStoryImage picStyle specialistPic">
          </div>
          <div class="bio-wide-container">
            <div class="teacher-contact">
              <h5>Ms. Shelby Walker<br>Spanish Specialist</h5>
              <a href="mailto:swalker@cathedral-or.org">swalker@cathedral-or.org</a>
            </div>
            <p class="featureStory specialist-bio">Ms. Walker joined the Cathedral Staff as a Spanish Teacher in the fall of 2013. Before relocating to Portland, she taught Spanish to multiple grade levels at St. Andrews Episcopal School in Ridgeland, Mississippi. Mrs. Walker received her Bachelors of Arts with an emphasis in Spanish Language and Literature from Kalamazoo College. She received her Masters of Teaching from the University of Southern Mississippi. Outside of Cathedral, Ms. Walker loves Yoga, visiting the library, anything outdoors and spending time with her husband.</p>
          </div>
        </div>
      </div>
      <div class="myContainer">
        <div class="column  nocolor-column equal-column">
          <h2>Cathedral PE Program</h2>
          <p class="featureStory programStory">Physical fitness, sportsmanship, and athletic skill all come together in the physical education program at Cathedral.  Throughout the year, students learn and participate in a variety of different team sports with the goal of exposing students to sports they may pursue outside of school and fostering teamwork and cooperation between classmates.  Students are also encouraged on an individual level through FitnessGram, an educational tool to determine students&rsquo; overall physical fitness and suggest areas for improvement when appropriate.  All the while, PE is a time where the fun of sport is celebrated and encouraged.  On the playground, sports education blends with recreation and play when the PE Teacher supervises (and referees) recess play.  At Cathedral, all students are athletes and student achievement in physical education is measured based on effort, participation, skill growth, cooperation, and most importantly, sportsmanship.</p>
          <h4 class="content-subtitle">PE Uniform</h4>
          <p class="featureStory programStory">All Students must wear non-marking athletic shoes. Starting in grades 7 and 8, students are required to wear a white Cathedral School PE uniform shirt and solid navy or black shorts (white trim and small logos are on the leg are allowed).  Socks and athletic shoes are also required.  Cathedral School PE shirts are for sale for $10.00 in the school office.  Shorts, socks and athletic shoes are to be provided by the student.</p>
        </div>
        <div class="column  nocolor-column equal-column">
          <div class="bio-wide-container">
            <img src="images/img_ourProgram/nadalsky.jpg" alt="Joe Nadalsky PE" class="featureStoryImage picStyle specialistPic">
          </div>
          <div class="bio-wide-container">
            <div class="teacher-contact">
              <h5>Mr. Joe Nadalsky<br>PE and Health Specialist</h5>
              <a href="mailto:jnadalsky@cathedral-or.org">jnadalsky@cathedral-or.org</a>
            </div>
            <p class="featureStory specialist-bio">Mr. Nadalsky joined the Cathedral Staff as a P.E. Teacher in 2013. Before relocating to Portland, he taught PE to multiple grade levels at Holy Trinity Catholic School in Grapevine, Texas. Mr. Nadalsky received his Bachelors of Science in Business Administration from the University of Nebraska, Lincoln. He received his Teacher Certification through iteachtexas. Outside of Cathedral, Mr. Nadalsky enjoys soccer, football, basketball and mountain biking. He also loves spending time with his wife and three beautiful daughters.</p>
          </div>
        </div>
      </div>
      <div class="myContainer">
        <div class="column  nocolor-column equal-column">
          <h2>Cathedral Art Program</h2>
          <p class="featureStory programStory">Cathedral maintains a collaborative partnership with the Oregon College of Art and Craft that supplies a skilled teacher to run our art program.  In all grades, drawing and painting instruction are combined with opportunities to work three dimensionally with clay, paper-m&acirc;ch&#233; and sculpey.  Notable artists (last year, Matisse, Van Gogh, Warhol, Mondrian, and Kushner) and works, like The Colosseum, inspire student work.<br>Funds from Run 4 Cathedral and Cathedral&rsquo;s donors make Cathedral School&rsquo;s art program possible.</p>
          <h4 class="content-subtitle">Cathedral Art Show</h4>
          <p class="featureStory programStory">Every first Thursday in May (to coincide with the Pearl District Art Gallery&rsquo;s First Thursday Program), the Cathedral community gathers to celebrate the students&rsquo; achievement in art during the school year.  Cathedral&rsquo;s gym is transformed into an art gallery where all students&rsquo; work is featured and displayed.  Parents, students, and friends of Cathedral are invited to stroll and linger in the gym-gallery.  The evening is topped off with a community building Spaghetti Dinner prepared by parents of Cathedral and served by our 7th Grade Students.</p>
        </div>
        <div class="column  nocolor-column equal-column">
          <div class="bio-wide-container">
            <img src="images/img_ourProgram/white.jpg" alt="Karen White Art" class="featureStoryImage picStyle specialistPic">
          </div>
          <div class="bio-wide-container">
            <div class="teacher-contact">
              <h5>Mrs. Karen White<br>Art Specialist</h5>
              <a href="mailto:kwhite@cathedral-or.org">kwhite@cathedral-or.org</a>
            </div>
            <p class="featureStory specialist-bio">Mrs. Karen White will be joining our team of specialists for the 2016-2017 academic year.  Mrs. White brings over 20 years experience as a teaching artist/educator to the Cathedral School Art program. Mrs. White received her Bachelor of Fine Arts from Metropolitan University of Denver. She has designed and facilitated innovative programs to engage participants in creative practices using both traditional and non-traditional methods. Mrs. White has developed programs for schools, community centers, and the US Fish &#38; Wildlife Service. She looks forward to the opportunity to encourage Cathedral students to apply creative practices in everyday opportunities.</p>
          </div>
        </div>
      </div>
      <div class="myContainer">
        <div class="column  nocolor-column equal-column">
          <h2>Cathedral Technology Program</h2>
          <p class="featureStory programStory">Cathedral School implemented a 1:1 iPad program during the 2011-2012 school year. The 1:1 environment utilizes technology as a tool to enhance teaching and improve learning. Apple technology has enabled Cathedral School to become a leader of innovative education in the Portland area as well as an Apple Distinguished School.<br><br>Portland news agencies are taking note of Cathedral School&rsquo;s focus on STEM as illustrated in this story which recently aired on <a href="http://koin.com/2015/09/23/whats-working-in-schools-cathedral-school-tech-integration/" target="_blank">KOIN Channel 6.</a></p>
          <img src="images/img_ourProgram/stemImage.jpg" alt="PE Students Playing Hockey" class="picStyle featurePic">

        </div>
        <div class="column  nocolor-column equal-column">
          <h2>Cathedral Activities</h2>
          <p class="featureStory programStory">Cathedral Elementary and Middle School both participate in the local Portland-area CYO program. As part of the program, our students learn the value of teamwork, good sportsmanship and fair play while developing fundamentals and skills.  All eligible youth are given the opportunity to participate. The following sports are offered to all students, regardless of skill level.</p>

          <img src="images/img_ourProgram/dancingKids.jpg" alt="Kids dancing" class="picStyle featurePic">
          <h4 class="content-subtitle">Fall Activities</h4>
          <ul class="subNav centered">
            <li class="topic">Volleyball (3rd through 8th grade girls)</li>
            <li class="topic">Hot Shots Basketball (1st &amp 2nd grade boys and girls)</li>
            <li class="topic">Football*</li>
          </ul>
          <h4 class="content-subtitle">Winter Activities</h4>
          <ul class="subNav centered">
            <li class="topic"> Basketball (3rd through 8th grade boys &amp girls)</li>
            <li class="topic">Registration will open mid-October</li>
          </ul>
          <h4 class="content-subtitle">Spring Activities</h4>
          <ul class="subNav centered">
            <li class="topic">Track and Field (3rd through 8th grade boys and girls)</li>
            <li class="topic">Player registration for Track &amp Field will be in early March.</li>
            <li class="topic">Lacrosse* (1st through 8th grade boys and girls)</li>
          </ul>
          <ul class="subNav centered">
            <li class="topic"><a href="mailto:cyo@cathedral-or.org">contact CYO</a></li>
          </ul>
        </div>
      </div>
  </div>
  <a class="mobile-home" href="#star-mobile"><span class="fa fa-chevron-circle-up" aria-hidden="true"></span>  Top</a>
  <a class="homing-nav" href="#topTarget"><span class="fa fa-chevron-circle-up" aria-hidden="true"></span>  Top</a>
  </div>
  <div class="footer">
    <h3> Connect with Us</h3>
    <ul class="bottomNav">
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "LocalBusiness",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Portland",
            "addressRegion": "OR",
            "streetAddress": "117 NW 17th Ave"
          },
          "description": "The mission of Cathedral School is to provide an excellent academic education grounded in Catholic religious principles and values, thereby creating a lifelong love for learning and a respect for each person and all creations as gifts of God.",
          "name": "Cathedral School",
          "telephone": "503-275-9370",
          "image":"http://www.cathedral-or.org/"
        }
        </script>
      <li class="bottomLink"><a href="tel:(503) 275 9370"><span class="fa fa-mobile" aria-hidden="true"></span><span itemprop="telephone">Phone (503) 275-9370</span></a></li>
      <li class="bottomLink"><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank"><span class="fa fa-map-marker" aria-hidden="true"></span><span>110 NW 17th Avenue </span><span>Portland OR </span><span>97209</span></a></li>
    </ul>
    <ul class="bottomNav social">
      <li class="bottomLink"><a href="http://www.apple.com/education/apple-distinguished-schools/" target="_blank"><span class="fa fa-apple" aria-hidden="true"></span>Distinguished School</a></li>
      <li class="bottomLink"><a href="https://twitter.com/CathedralPDXOR?lang=en" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
      <li class="bottomLink"><a href="https://www.facebook.com/Cathedral-School-472568026167913/" target="_blank"><span class="fa fa-facebook-official" aria-hidden="true"></span></a></li>
      <li class="bottomLink"><a href="http://www.westwcea.org/" target="_blank"><span class="fa fa-crosshairs" aria-hidden="true"></span>Western Catholic Education Association Member</a></li>
    </ul>
    <p class="siteCredit"><a href="http://www.wendygoodwin.io" target="_blank">&copy; 2017 Wendy J Goodwin Creative</a></p>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>
