<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href=""
  <link href="images/auction/horseFavicon.io" rel="icon" type="image/png">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <meta content=
  "Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8."
  name="description">
  <meta content=
  "Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school"
  name="keywords">
  <title>Cathedral School Support</title>
  <!-- Bootstrap -->
   <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
  <link href="stylesheets/support.css" media="screen" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76200021-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <span itemscope itemtype="http://schema.org/LocalBusiness"><nav class="navbar navbar-inverse navbar-fixed-top" id="topNavigation">
    <div class="container-fluid" id="topMenuContainer">
      <div class="row mobileTopRow">
        <div class="col-xs-6">
          <a class="navbar-brand" href="/"><span itemprop="name">Cathedral School</span></a>
        </div>
        <div class="col-xs-6 mobileButtonColumn">
        <button type="button" class="btn btn-success btn-lg" id="mobileMenuStar">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Explore
        </button>
      </div>
    </div>
      <!--This is the DESKTOP version of the navigation bar>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class=" row collapse navbar-collapse" id="cathedralMenuToggle">
        <div class="col-xs-12">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/about">About</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Program <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/Academics">Academics</a></li>
                <li><a href="/ourProgram">Our Program</a></li>
                <li><a href="/library">Library</a></li>
              </ul>
            </li>
            <!-- <li>
              <a href="/academics">Academics</a>
            </li> -->
            <li>
              <a href="/admissions">Admissions</a>
            </li>
            <!-- <li>
                <a href="/ourProgram">Our Program</a>
            </li>
            <li>
              <a href="/library">Library</a>
            </li> -->
            <li>
              <a href="https://cathedralschoolpdx.wordpress.com" target="_blank">News</a>
            </li>

            <li>
              <a href="/calendar">Calendar</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parents<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/parents">Parents Main</a></li>
                <li><a href="https://www.volgistics.com/ex/portal.dll/?from=250194" target="_blank">Volgistics Website</a></li>
                <li><a href="/parents#advisoryBox">Advisory Council</a></li>
                <li><a href="/parents#parAssocBox">Parents Association</a></li>
                <li><a href="https://secure.orderlunches.com/register.php" target="_blank">Order Lunch</a></li>
                <li><a href="/parents#extendBox">Extended Care</a></li>
              </ul>
            </li>
            <li>
              <a href="/alumni">Alumni</a>
            </li>
            <li class="active">
              <a href="/support">Support</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
                <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
                <li><a href="fax">Fax (503) 275-9378</a></li>
                <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <div id="mobileGroup">
        <ul class="nav nav-pills nav-stacked mobileNav">
          <li>
            <a href="/about">About</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Program <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/Academics">Academics</a></li>
              <li><a href="/ourProgram">Our Program</a></li>
              <li><a href="/library">Library</a></li>
            </ul>
          </li>
          <li>
            <a href="/admissions">Admissions</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
            <ul class="dropdown-menu" id="contactMobileDrop">
              <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
              <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
              <li><a href="fax">Fax (503) 275-9378</a></li>
              <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
            </ul>
          </li>
          <li>
            <a href="https://cathedralschoolpdx.wordpress.com" target="_blank">News</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Parents <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/parents">Parents Main</a></li>
              <li><a href="/parents#parentBox">Volunteer Requirements</a></li>
              <li><a href="/parents#advisoryBox">Advisory Council</a></li>
              <li><a href="/parents#parAssocBox">Parents Association</a></li>
              <li><a href="/parents#hotLunchMobileBox">Hot Lunch</a></li>
              <li><a href="/parents#extendBox">Extended Care</a></li>
            </ul>
          </li>
          <li>
            <a href="/calendar">Calendar</a>
          </li>
          <li>
            <a href="/alumni">Alumni</a>
          </li>
          <li class="active">
            <a href="/support">Support</a>
          </li>
        </ul>
      </div>

      </div>
      <div class='auctionContainer container'>
        <div class="row auctionMastRow">
          <div class="col-xs-12">
          <h3>Introducing The Cathedral Derby&#58;</h3>
          <h4 class="emphasisTitle"> a Little Kentucky a Little Portlandia a Lot of Fun<h4>
          <h3>the 22nd Annual Cathedral School Auction&#58;</h3>
          <h4 class="emphasisTitle">Saturday, March 4th, 2017 at the Multnomah Athletic Club</h4>
          </div>

          <div class="col-xs-12">
            <ul id="auctionImageHero">
              <li><img class="img-responsive" src="images/auction/auctionCrest2016.jpg"></li>
              <li><img class="img-responsive" src="images/auction/auctionLogoPatchwork2016.jpg"></li>
              <li><img class="img-responsive" src="images/auction/darkAuctionCrest.jpg"></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div id="textBoxOpen">
              <p class="auctionText" id="welcomeText">
                Welcome&#33;  The Cathedral Auction is our school&#39;s largest fundraiser, accounting for 8&#37; of the school&#39;s annual operating budget.  Our teachers, staff and administration are innovative and funds from this auction help to ensure that our children receive an exceptional education, grounded in Catholic principles and values and enhanced by a strong focus on Science, Technology, Engineering and Science.<br><br>
                Our auction supports our students not only by raising funds but by helping to build a vibrant and loving community where our kids can thrive.  We our busy people living fast paced lives with a myriad of pressures from professional to personal.  These responsibilities sometimes make it hard to fit in much beyond a quick hello in the pickup line.  But as legendary Catholic social activist Dorothy Day so aptly stated&#58;<br><br>

                &#34;We have all known the long loneliness and we have learned that the only solution is love and that love comes with community.&#34;&#126;Dorothy Day<br><br>

                So we&#39;re making this year&#39;s auction not just about finances but about building strong community— a community which includes not only our immediate student families but also our parish home at St. Mary&#39;s Cathedral and the wonderful city of Portland where we are privileged to call home.  Let&#39;s model the kind of openness and inclusion that we want our children to manifest by sharing in an incredible night of community and support on March 4th&#33;<br><br>

                If you are new to Cathedral School, we are so excited to have you join us and we want you to know that if you have any questions or even any ideas big or small, that we would love to hear from you.  Head on over to the Contact section of this site and drop us a line or come say hi when you see us around campus.<br><br>

                If you are a Cathedral parent who hasn&#39;t found your &#33;place&#33; yet or not really the social gala type, we hope you&#39;ll set aside any reservations and give this year’s auction a try.  We&#39;ll be classy… sure… but with a hint of Portlandia thrown in, we aim to make sure that the evening will be fun, relaxed and a memory you&#39;ll want to make&#33;<br><br>

                If you&#39;re a Cathedral family who is so involved that some people think you’re on staff, please help us make this year&#39;s auction extra special by extending a welcome to our newer families.  We all have at least one incredibly important thing in common and that is that we love our children immensely and want them to have an excellent education.  Building authentic community will do much to make that happen.<br><br>

                Watch the Cathedral school weekly newsletter for regular updates and check back here often as we will be using the website heavily to make sure you are informed and up to date on our progress.  It&#39;s going to be amazing and we can’t wait to share it with you&#33;<br><br>

                Warmly,<br><br>

                Wendy Goodwin and Kara Vargo<br>
                2016-2017 Cathedral Auction Chairs

              </p>
              <div class="auctionText" id="newsText">
                <h4 class="newsTitles">October 11th, 2016</h4>
                <p>Hi there&#33;  You&#39;ve come to the right place to find out the latest and most exciting news on our 2017 Cathedral Auction.  Please check back often as we&#39;re going to keep this place bursting with updates.
                This week we&#39;d like to highlight a few positions that we are still in need of folks to take on a leadership role in.  Yes, you bet you can get those volunteer hours taken care of right here.
                <ul class="newsList">
                  <li><strong>Raffle Coordinator&#58;</strong>  Works with auction chairs to oversee the promotion and sale of raffle tickets in the school and parish community.</li>
                  <li><strong>Procurement&#58;</strong>  We are looking for a few individuals who are willing to take on specific leadership roles within the procurement committee-- if you love travel, shopping or dining, this is a great way to get involved and have some fun at the same time dreaming over packages and seeking out the perfect items for our auction.</li>
                  <li><strong>Advertising&#58;</strong>  We are really going to emphasize advertising this year.  Many businesses have funds and services they are willing to donate to 501C3 Organizations and this is an important way that we can not only raise funds but bring awareness to the Portland community about our school. We&#39;ll use written letters, phone calls and in person visits to reach out to our list of contacts and would love to have your help.  This is something that could even be a good fit for people who want to help but can&#39;t make it to meetings during business hours as it can be done on your own time.</li>
                  <li><strong>Auction Activity Committee&#58;</strong>  This year in addition to food and fundraising we will have some (totally optional) activities you can participate in.  If you love games and know how to throw a good party, we&#39;d love to hear your ideas.</li>
                  <li><strong>Catalog Writer&#58;</strong> Creative writing for all items that will be listed in the auction catalog</li>
                </ul>

                <p>If you are interested in lending a hand in any of these areas, please reach out to Kara or Wendy at our <a href="mailto:auction@cathedral-or.org">Auction Email</a> address.</p>
              </div>

                <!-- <p>Hi there, you’ve come to the right place to find out the latest and most exciting news on our 2017 Cathedral Auction.  Please check back often as we’re going to keep this place bursting with updates. We&#39;re thankful for the many creative friends of Cathedral and this week we&#39;d like to highlight an upcoming event that supports the auction.<br><br>

                <ul class="newsList">
                  <li><strong>What&#58;</strong>  ALL THINGS PERSONALIZED GIFTS + HOLIDAY NECESSITIES wrap, ribbon, gift and wine tags, pillows, placemats, plates, party supplies, trays, napkins, notepads, notecards, photocards, teacher gifts, and oooh so much more!</li>

                  <li><strong>Who&#58;</strong>  Grab a friend, kick off your holiday shopping and support Cathedral School</li>
                  <li><strong>When&#58;</strong>  October 25th-27th 10AM -5PM<br>October 26th Champagne and Shopping 6PM-9PM</li>
                  <li><strong>Where&#58;</strong>  2029 SW Montgomery Dr. Portland 97201</li>
                  <li><strong>Why&#58;</strong>  10% of school sales go back to Cathedral School</li>
                  <li><strong>More Information</strong> Contact Heather Lawes at <a href="tel:(503)7307452">503.730.7452</a>
                </ul>


                </p> -->
                <!-- <img class="img-responsive newsEmbedImage" src="images/auction/paperdollsAd.jpg"> -->

            <div class="auctionText" id="procurementText">
              <p class="procureIntro">Every Cathedral family is required to procure or contribute at least &#36;400 in products, services or cash contributions towards our auction.  Organizations will receive a tax credit for their qualifying donation as well as recognition as a donor online and in the printed auction program.  We are updating our procurement forms and they will be available by the end of the month.  When you request a donation from a business, you will simply provide one copy to the business and turn the other copy in to the school office.<br><br>
              One final note is that your donation doesn&#39;t by any means have to be a single item totaling &#36;400.  You could do a combination of any of the below and we welcome you to do it that way because items are grouped into packages and we want to offer a range of pricepoints.</p>

              <ul class="newsList">
                <li><strong>From Your Own Stash&#58;</strong><br>
                  Be creative&#33;  If you have something in mind but you are not sure if it is a good fit, don&#39;t hesitate to ask or if you own a vacation home or know someone who does and would be willing to donate, this is always a popular item at the auction.
                </li>
                <li><strong>Requesting a Donation&#58;</strong><br>
                  Consider businesses that you have a great relationship with.  Favorite nail salon, exercise studio, restaurant or hotel?  Where are you a loyal customer?   Many businesses have funds that they are willing to donate to 501C3 charitable organizations but a personal connection goes so much further than a cold call so help us reach out to our community!
                </li>
                <li><strong>Services&#58;</strong><br>
                  Do you have a skill that you use professionally and would be willing to donate a package to our auction&#63; Examples from past auctions include dental work, home decorating, music lessons, sporting clinics, massage and web design.</li>
                <li><strong>Cash&#58;</strong><br>
                  It’s totally okay to write a check.  It costs money to put on an event like this and your cash donation really helps us cover all the costs up front so that every paddle raise at the auction is 100% profit.</li>
              </ul>
            </div>

              <p class="auctionText" id="getInvolvedText">
                We would love to have your help, not only because we need it but because it is a great way to get connected and get to know your fellow Cathedral Families. If you&#39;d like to volunteer but aren&#39;t sure where you would best fit please be in touch and we will match your skills, interest and available time with the perfect task.
              </p>
              <div class="auctionText" id="leadershipText">
                <h4>Coming Soon...
              </div>
              <p class="auctionText" id="contact">
                You can reach Kara and Wendy by email at <a href="mailto:auction@cathedral-or.org">auction@cathedral-or.org.</a><br>
                To reach us by phone please refer to the School Directory that you received in September or call the school office at 503.275.9370.
              </p>







            </div>




          </div>

        </div>


        <div class="row auctionButton">
          <div class="col-xs-12 col-md-6">
            <div class="auctionBox" id="auctionWelcome">
              <h3 class="boxTitle"> Welcome</h3>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="auctionBox" id="auctionNews">
              <h3 class="boxTitle"> Latest News </h3>
            </div>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="auctionBox" id="auctionProcurement">
              <h3 class="boxTitle"> Procurement Requirements</h3>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="auctionBox" id="auctionHelp">
              <h3 class="boxTitle">Get Involved</h3>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="auctionBox" id="auctionLeadership">
            <h3 class="boxTitle"> 2016-2017 Leadership</h3>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="auctionBox" id="auctionContact">
            <h3 class="boxTitle"> Contact </h3>
          </div>
      </div>
    </div>
    </div>



  <div class="container-fluid" id="bottomColor">
    <div class="row">
      <div class="col-xs-12">
        <footer>
          <div class="bar">
            <div class="social">
              <h4>Connect With Us</h4>
              <div id="phone"><a href="tel:5032759370"><span itemprop="telephone">(503) 275-9370</span></a>
    </div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div id="address"><a href="https://www.google.com/maps/place/Cathedral+School/@45.523858,-122.687884,15z/data=!4m5!3m4!1s0x0:0xf5812e73081f01ea!8m2!3d45.523858!4d-122.687884" target="_blank"><br><span itemprop="streetAddress">
      110 NW 17th Ave <br><span itemprop="addressLocality"> Portland, OR</span><span itemprop="postalCode"> 97209</span></a></span>
    </div>




              <a href="http://www.westwcea.org/"><img alt=
              "Western Catholic Badge" src="images/wceBadge2.jpg"></a> <a href=
              "https://www.facebook.com/pages/Cathedral-School/472568026167913"><img alt="facebook icon"
              src="images/facebookIcon.png"></a> <a href=
              "https://twitter.com/CathedralPDXOR?lang=en"><img alt="twitter icon"
              src="images/twitterIcon.png"></a> <a href=
              "http://www.apple.com/education/apple-distinguished-schools/"><img alt=
              "apple distinguished school icon" src="images/appleLogo.jpg"></a>
            </div>
            <div class="clear"></div>
            <div class="copyright">
              &copy; 2016 All Rights Reserved <br> site design and development by <a href="http://wendygoodwin.io" target="_blank">Wendy J Goodwin Creative</a>
            </div>
          </div>
        </footer>
  <!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
    </div>
  </div>
  </div>
  </div>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/home.js"></script>
<script type="text/javascript" src="javascripts/support.js"></script>
</body>
</html>
