<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="images/favicon.io" rel="icon" type="image/png">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <meta content=
  "Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8."
  name="description">
  <meta content=
  "Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school"
  name="keywords">
  <title>Cathedral School Support</title>
  <!-- Bootstrap -->
   <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
  <link href="stylesheets/support.css" media="screen" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76200021-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <span itemscope itemtype="http://schema.org/LocalBusiness"><nav class="navbar navbar-inverse navbar-fixed-top" id="topNavigation">
    <div class="container-fluid" id="topMenuContainer">
      <div class="row mobileTopRow">
        <div class="col-xs-6">
          <a class="navbar-brand" href="/"><span itemprop="name">Cathedral School</span></a>
        </div>
        <div class="col-xs-6 mobileButtonColumn">
        <button type="button" class="btn btn-success btn-lg" id="mobileMenuStar">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Explore
        </button>
      </div>
    </div>
      <!--This is the DESKTOP version of the navigation bar>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class=" row collapse navbar-collapse" id="cathedralMenuToggle">
        <div class="col-xs-12">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/about">About</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Program <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/Academics">Academics</a></li>
                <li><a href="/ourProgram">Our Program</a></li>
                <li><a href="/library">Library</a></li>
              </ul>
            </li>
            <!-- <li>
              <a href="/academics">Academics</a>
            </li> -->
            <li>
              <a href="/admissions">Admissions</a>
            </li>
            <!-- <li>
                <a href="/ourProgram">Our Program</a>
            </li>
            <li>
              <a href="/library">Library</a>
            </li> -->
            <li>
              <a href="https://cathedralschoolpdx.wordpress.com" target="_blank">News</a>
            </li>

            <li>
              <a href="/calendar">Calendar</a>
            </li>
            <li>
              <a href="/parents">Parents</a>
            </li>
            <li>
              <a href="/alumni">Alumni</a>
            </li>
            <li class="active">
              <a href="/support">Support</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
                <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
                <li><a href="fax">Fax (503) 275-9378</a></li>
                <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <div id="mobileGroup">
        <ul class="nav nav-pills nav-stacked mobileNav">
          <li>
            <a href="/about">About</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Program <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/Academics">Academics</a></li>
              <li><a href="/ourProgram">Our Program</a></li>
              <li><a href="/library">Library</a></li>
            </ul>
          </li>
          <li>
            <a href="/admissions">Admissions</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
            <ul class="dropdown-menu" id="contactMobileDrop">
              <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
              <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
              <li><a href="fax">Fax (503) 275-9378</a></li>
              <li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
            </ul>
          </li>
          <li>
            <a href="https://cathedralschoolpdx.wordpress.com" target="_blank">News</a>
          </li>
          <li>
            <a href="/parents">Parents</a>
          </li>
          <li>
            <a href="/calendar">Calendar</a>
          </li>
          <li>
            <a href="/alumni">Alumni</a>
          </li>
          <li class="active">
            <a href="/support">Support</a>
          </li>
        </ul>
      </div>

      </div>

    <div class="container supportContent">
    <div class="row">
      <div class="col-xs-12" id="supportTabs">
        <ul class="nav nav-tabs aboutNavigation" id="supportTab" role="tablist">
          <li role="presentation"><a href="#cathAucHero"id="aucTab">Cathedral Auction</a></li>
          <li role="presentation"><a href="#run4CathedralHero" id="run4Tab">Run 4 Cathedral</a></li>
          <li role="presentation"><a href="#legacy"id="legacyTab">Leave a Legacy</a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-0 col-md-3 media" id="iconMenu">
        <ul class="supportMenuLarge">
          <li><h4>Ways To Support</h4></li>
          <li><a href="#legacy"><img class="media-object leftImage" id="leaveLegacySm" src="images/img_support/leaveALegacy2.jpg" alt="leave a legacy image"></a></li>
          <li><a href="#run4CathedralHero"><img class="media-object leftImage" id="run4Small" src="images/img_support/runImageSmall.jpg" alt="run 4 cathedral image"></a></li>
          <a href="#cathAucHero"><li><img class="media-object leftImage" id="auctionSmall" src="images/img_support/auctionPromoSm.jpg" alt="cathedral auction image"></li></a>
        </ul>

      </div>
      <div class="col-sm-12 col-md-9">
        <div class="leaveALegacyHero noShowText" id="legacy">
        <div class="thumbnail">
          <img src="images/img_support/leaveALegacy2Big.jpg" alt="support Cathedral School">
          <div class="caption supportImage">
            <h3>Leave a Legacy</h3>
            <h4>The gift of an excellent Catholic education lasts for a lifetime.</h4>
          </div>
        </div>
        <div class="leaveALegacy" id="legacyText">
          <div class="thumbnail">
            <p>Cathedral School is beginning a “Legacy and Faith Program” to encourage alumni, parents and other friends to make a lasting gift for future generations of Cathedral School.<br>
            &#34;Legacy&#34; gifts are bequests or estate designations in your will, trust, life insurance or retirement plan to benefit Cathedral School.  They are placed into the Cathedral School Endowment where they are preserved and the earnings are used for the ongoing support of students needing financial aid, maintaining excellent academic programs, and retaining the very best teachers.<br><br>
            &#34;The greatest need we have is to provide financial aid for students and families who cannot afford to pay tuition,&#34; said Amy Biggs, principal.  This past school year, 42 students, or 18 percent of the student body, received &#36;95,500 in financial aid.  &#34;Catholic education is a value and we want to be there for those students and families who otherwise would not be able to benefit from a Catholic education,&#34; she said.<br><br>
            A legacy gift speaks to the people you love and who matter most to you.  Think of children from families who desire a Catholic education, but can’t afford to pay.  The gift of an excellent Catholic education lasts for a lifetime.  Make that gift possible with your legacy provision.<br><br>
            There are many ways to structure a legacy gift.  It can be a fixed amount of money or a bequest of a specific item of property, such as a house.  Another way is to leave a residuary gift in your estate.  That involves leaving a percentage of the remaining value of your estate after all other bequests have been made.<br>
            Consult your estate-planning advisor to make sure your legacy plan expresses love for those who are most important to you.  We hope you will include Cathedral students among those who you love and want to remember.  To include Cathedral School in your legacy planning, our legal name is:  Cathedral Church, Portland Oregon.  Tax ID &#35;93-0978500.  Please contact our principal, <a href="mailto:abiggs@cathedral-or.org
">Mrs. Amy Biggs</a> regarding your legacy plans.

 </p>

          </div>
        </div>

      </div>
        <div class="cathedralAuctionHero" id="cathAucHero">
        <div class="thumbnail">
          <img src="images/img_support/auctionPromo.jpg" alt="...">
          <div class="caption supportImage">
            <h3>2016 Annual Cathedral Auction</h3>
            <h4>Saturday, March 5, 2016 at the Multnomah Athletic Club</h4>
          </div>
        </div>
        <div class="thumbnail supportHeroText">
        <p><div class="caption" id="auctionBox">
          <!-- <h3 id="">Cathedral Auction</h3> -->
          <p id="">The Auction is Cathedral School&rsquo;s largest fundraiser of the year. Every Cathedral auction aims to enhance our students&rsquo; educational experience by funding essential programs and opportunities that will benefit them, over and above those covered by the school’s operating budget. Previous auctions have funded such programs as upgrades to technology including laptop computers and iPads in every classroom; remodel of certain areas in the building; and most recently a new Art Room.<br><br>
          The auction night consists of the Super Silent, Silent Auction and the Live Auction. An example of Silent Auction offerings: wine, gift certificates for services, baskets full of goodies. After the Silent Auction closes, everyone moves into the main dinning room where the Dinner is served and the Live Auction commences. The Live Auction items are typically bigger items and projects created by each class. This is a traditional auction, with real auctioneers taking bids. If you want to bid on an item in the Live Auction, hold up your bidder paddle so your bidder number is visible and make sure the auctioneer and crew notices you. </p>
          <ul class="auctionActions">
            <li><a href="#auctionMoreID" class="btn btn-md btn-success" id="auctionSupportButton" role="button">More</a></li>
            <li><a href="https://csp.ejoinme.org/MyEvents/CathedralisBlooming/Registration/tabid/743675/Default.aspx" target="_blank" class="btn btn-md" id="donateNowButton" role="button">Donate and Purchase Tickets</a></li>
            <li><a href="#" class="btn btn-md" id="auctionForms" data-toggle="modal" data-target="#formsModal">Forms</a></li>
            <li><a href="mailto:auction@cathedral-or.org" class="btn btn-md"><img src="images/img_support/mail.png" id="mailAuction" alt="email"></a></li>
            <li><a href="#" class="btn btn-md btn-danger" id="auctionSponsors" data-toggle="modal" data-target="#adsModal">Our Sponsors</a></li>
          </ul>


          <h5 class="auctionMore noShowText" id="auctionMoreID">Why we changed the venue for the auction?</h5>
          <p class="auctionMore noShowText">
          After comparing the different venues around Portland, we were able to get the most affordable price at the Multnomah Athletic Club.</p>

          <h5 class="auctionMore noShowText">How do I donate to the auction?</h5>
          <p class="auctionMore noShowText">
          There are several ways that you can donate to the auction. Just download our procurement form ,email your completed form or mail your form to Cathedral School, Attn: Auction Office, 110 NW 17th ave Portland OR 97209. You can also stop by the Auction office with your donation.</p>

          <h5 class="auctionMore noShowText">I&rsquo;m not sure what to donate. What kinds of items would you like for the auction?</h5>
          <p class="auctionMore noShowText">
          We are looking for everything from amazing vacation getaways to spa packages to dinner parties&#33; Click the forms button to see our Wish List.</p>

          <h5 class="auctionMore noShowText">I&rsquo;m interested in being an Auction Sponsor, what do I do?</h5>
          <p class="auctionMore noShowText">Click the forms button for our sponsorship opportunities. You can also email the auction office or call 503.275.9370.</p>
          <h5 class="auctionMore noShowText">
          I’m interested in advertising in the Auction Catalog, what do I do?</h5>
          <p class="auctionMore noShowText">Click the forms button for our advertising rates or you can also email the auction office at <a href="mailto:auction@cathedral-or.org">auction@cathedral-or.org</a> or call 503.275.9370. </p>
        </div>
      </div>
      <!-- Auction Ads Modal -->
      <div class="modal fade" id="adsModal" tabindex="-1" role="dialog" aria-labelledby="adsModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="adsModal">Our Generous 2016 Auction Sponsors</h4>
            </div>
            <div class="modal-body">
              <ul class="ads">
                <li class="adStyle"><img src="images/img_support/auctionAds/ads1.png" alt="Biggs Insurance"></li>
                <li class="adStyle"><img src="images/img_support/auctionAds/ads2.png"></li>
                <li class="adStyle"><img src="images/img_support/auctionAds/ads3.png"></li>
                <li class="adStyle"><img src="images/img_support/auctionAds/ads4.png"></li>
                <li><img src="images/img_support/auctionAds/ads5.png"></li>
                <li><img src="images/img_support/auctionAds/ads6.png"></li>                <li><img src="images/img_support/auctionAds/ads7.png"></li>
                <li><img src="images/img_support/auctionAds/ads8.png"></li>
                <li><img src="images/img_support/auctionAds/ads9.png"></li>
                <li><img src="images/img_support/auctionAds/ads10.png"></li>
                <li><img src="images/img_support/auctionAds/ads11.png"></li>                <li><img src="images/img_support/auctionAds/ads12.png"></li>
                <li><img src="images/img_support/auctionAds/ads13.png"></li>
                <li><img src="images/img_support/auctionAds/ads14.png"></li>
                <li><img src="images/img_support/auctionAds/ads15.png"></li>
                <li><img src="images/img_support/auctionAds/ads16.png"></li>                <li><img src="images/img_support/auctionAds/ads17.png"></li>
                <li><img src="images/img_support/auctionAds/ads18.png"></li>
                <li><img src="images/img_support/auctionAds/ads19.png"></li>
                <li><img src="images/img_support/auctionAds/ads20.png"></li>
                <li><img src="images/img_support/auctionAds/ads21.png"></li>
                <li><img src="images/img_support/auctionAds/ads22.png"></li>
                <li><img src="images/img_support/auctionAds/ads23.png"></li>
              </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


<!-- Auction Forms Modal -->
<div class="modal fade" id="formsModal" tabindex="-1" role="dialog" aria-labelledby="formsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="formsModalLabel">Auction Forms</h4>
      </div>
      <div class="modal-body">
        <div class="list group">
          <a href="documents/support/procurementForm.pdf" class="list-group-item" target="_blank">Procurement Form</a>
          <a href="documents/support/auctionAdForm.pdf" class="list-group-item" target="_blank">Advertise in the Auction Program</a>
          <a href="documents/support/sponsorshipLevels.pdf" class="list-group-item" target="_blank">Become an Auction Sponsor</a>
          <a href="documents/support/wishList2016.pdf" class="list-group-item" target="_blank">Explore our Wish List For Donation Ideas</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="run4CathedralHero noShowText" id="run4CathedralHero">
    <div class="thumbnail">
      <img src="images/img_support/runImage.jpg" alt="...">
      <div class="caption supportImage">
        <h3>Run 4 Cathedral</h3>
      </div>
    </div>
    <div class="thumbnail">
    <p><div class="caption" id="run4CathedralBox">
      <p id="">Run 4 Cathedral, our 2nd largest fundraiser, is an annual jog-a-thon in which Cathedral School students participate to raise funds for enhancements to the school curriculum that would not be able to be funded through the school’s operating budget. A major portion of the proceeds raised provides the funding for the school’s 20 hour per week art program, in partnership with the Oregon College of Art and Craft. In addition, Run 4 Cathedral provides a portion of the funds for students to participate in Outdoor School and the Oregon Trail Overnight, and fully funds all field trips, in-class presentations, assemblies, student retreats, as well as other curriculum enhancements. </p>
        </div>
    </div>
  </div>

</div>

      </div>
    </div>
  </div>

	<footer>
        <div class="social">
        	<h4>Connect With Us </h4>
        	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
        	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
        	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
        	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2016 All Rights Reserved <br> site design and development by<a href="http://wendygoodwin.io" target="_blank">Wendy J Goodwin Creative</a>
</div>

   <!--  </div>
   </div> -->
</footer>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/home.js"></script>
<script type="text/javascript" src="javascripts/support.js"></script>
</body>
</html>
