.wrapper img {
	width: 100%;
}


.alumniContent {
  margin-top: 10px;
}



.welcomeAlumBox {
  border-style: solid;
  border-top-width: 2em;
  border-color:  #999933;
  padding-bottom: 2em;
  padding-left: 2em;
}

.alumniContactBox {
  padding: 2em;
  border-style: solid;
  border-top-width: 2em;
  border-color: #4e5d74;
}

.alumniContactBox img {

}

#girlGraduates {
  margin-top: 2em;
  width: 100%;
}

@media only screen and (max-width: 1820px) {
	.wrapper {
		padding-top: 80px;
	}
}

@media only screen and (max-width: 1200px) {
	.wrapper {
		padding-top: 10px;
	}
}
