/***************************/
/*******top image and nav*****/
/***************************/
.wrapper img {
	width: 100%;
}

.aboutTabNav {
	font-size: 1.15em;
	text-transform: uppercase;
}

.aboutTabNav li {
	padding: 1em;
}

/***************************/
/*******content*****/
/***************************/
#frequentQuestions {
	border: 1em;
	border-color: black;
	background-color: lightGray;
	padding: 1em 2em;
}

#moreQuestions {
	display: none;
}

#vision {
	margin-bottom: 1em;
	border: 1em;
	border-color: black;
	background-color: 	#F0F0F0;
	padding: 1em 2em;
}

#learningExpectations {
	border: .25em;
	border-style: solid;
	border-color: #787878;
	padding: 1em 2em;
}

.bellKid {
	padding-top: 2em;
}

.mobileSwap {
	display: none;
}

#appleBox {
border: .25em;
border-style: solid;
border-color: #787878;
padding: 1em 2em;
}

#ourHistory {

	margin-bottom: 1em;
	border: 1em;
	border-color: black;
	background-color: 	#F0F0F0;
	padding: 1em 2em;
}

#ourHistory img {
	margin-bottom: 2em;
}


#appleSchool {
	padding: 0 3em;
}

@media only screen and (max-width: 1820px) {
	.wrapper {
		padding-top: 80px;
	}
}

@media only screen and (max-width: 1200px) {
	.wrapper {
		padding-top: 10px;
	}
}



@media only screen and (max-width: 415px) {

	.bellKid {
		visibility: hidden;
	}
	.mobileSwap {
		visibility: visible;
	}

	.appleBox {
		margin-top: -2em;
	}
	}




/*
@media screen and (max-width: 1000px) {
	.links, .social, .copyright {
		float: none;
		text-align: center;
	}
	.social {
		position: relative;
		margin: 10px 0;
	}
	.links li {
		display: inline-block;
		float: none;
	}
	.bar {
		position: relative;
	}
	.bar-wrap {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 835px) {
	footer> ul li {
		float; none;
		width: auto;
	}
}

@media screen and (max-width: 768px) {
	.links li {
		margin-right:;
	}
}*/
