

/*.academicText {
	margin-top: 50px;
}*/



/*******************/
/*gray Box content**/
/*******************/
.academicTextBox {
  padding: 1.5em;
  background-color: lightGray;
}

.pictureBorder {
	border: solid 1px #CCC;
		-moz-border-shadow: 5px 5px 5px #999;
		-webkit-box-shadow: 5px 5px 5px #999;
		box-shadow: 5px 5px 5px #999;
}

.mrsBiggsPic {
	margin-top:4em;
	width:100%;
}

.pictureCaption {
	width: 250px;
	text-align: center;
	font-weight: 200;
	color: black;
}

.firstG {
	height: 610px;
}

/*******************/
/*welcome styles**/
/*******************/

#appleList {
  list-style: circle;
	margin-left: 0;
}

#signature {
  font-weight: bold;
  font-style: italic;
	padding-left: 1em;
}

/*******************/
/*faculty Box styles**/
/*******************/

.thumbnail {
	padding: 10px;

}

.staffPics {
	width:15em;
}

.caption {
	text-align: center;
}

.blueClass {
	color: #4e5d74;
}

.noShowText  {
  display: none;

}

/*******************/
/*faculty Box styles**/
/*******************/
.midTeachers {
	margin: 0;
	min-height: 600px;
}

.midTeachers img {
	width: 175px;
	padding:0;
	/*padding: 10px;*/
}

.middleSchoolImageRow {
	padding: 0;
}

@media only screen and (min-width: 1200px) {
	.navContainer {
		margin-top: 50px;
	}
}



@media only screen and (max-width: 1440px) {
	.academicText {
		margin-top: 60px;
	}
}

@media only screen and (max-width: 1199px) {
	.facultyPortraits {
		max-width: 250px;
	}
	.pictureCaption {
		text-align: left;
	}

	@media only screen and (max-width: 1024px) {
		.academicText {
			margin-top: 10px;
		}
}


@media only screen and (max-width: 768px) {
	.academicText {
		margin-top: 10px;
	}
	.welcomeText {
		margin-left: auto;
		margin-right: 1em;
		margin-top: 1em;



	}

	#openMenuLook {
	margin-top: 1em;
	padding-top: 1em;
	}
	/*.facultyPortraits {
		width: 200px;
	}*/
}
