


@media only screen and (min-device-width: 1000px) {
	.padTop {
		margin-top:70px;
	}

		.tabletCalendar {
			display: none;
		}

		.smartCalendar {
			display: none;
		}

}


@media only screen and (max-width: 999px) {
	.padTop {
		margin-top:5px;
	}
		.desktopCalendar {
			display: none;
		}

		.tabletCalendar {
			margin-top: 10em;
		}

		.smartCalendar {
			display: none;
		}

}

@media only screen and (max-width: 600px) {

	.padTop {
		margin-top:5px;
	}
		.desktopCalendar {
			display: none;
		}

		.tabletCalendar {
			display: none;
		}

		.smartCalendar {
			margin-top: 1em;
			display: block;

		}

}
