.wrapper img {
	width: 100%;
	padding-top: 50px;
}

#birthdayBookForm {
	display: none;
}

.page-header {
	color: black;
	padding: 1em;
}

.page-header small {
	color: green;
	font-style: italic;
	font-weight: 150;
}


h3 {
	padding-top: .3em;
}

.thumbnail {
	overflow: auto;
	max-height: 42em;
	padding: .2em;
}

.row-bottom-margin {
	margin-bottom: .1em;
}

#moreDocs {
	display: none;
}

ul {
	list-style: none;
	padding: 0 1.5em 0 1.5em;
}

li {
	margin: .5em;q
}



#lunchBunch {
	display: none;
}

#LibraryCards {
	display: none;
}

#BannedBooks {
	display: none;
}

#SummerReading {
	display: none;
}

.noShowLibText {
	display: none;
}

.showLibText {
	display: block;
}

#libraryFooter {
	background-color: white;
}


@media only screen and (max-width: 1820px) {
	.wrapper {
		padding-top: 80px;
	}
}

@media only screen and (max-width: 1200px) {
	.wrapper {
		padding-top: 10px;
	}
}
