.wrapper {
margin-top: 10px;
}


.wrapper img {
	width: 100%;
}

.academicTextBox {
  padding: 1.5em;
  background-color: lightGray;
	border-radius: 10px;
}

.pictureBorder {
	border: solid 1px #CCC;
		-moz-border-shadow: 5px 5px 5px #999;
		-webkit-box-shadow: 5px 5px 5px #999;
		box-shadow: 5px 5px 5px #999;
}

.noShowText {
	display: none;
}

.specialistBox {
	padding: 1em;
	background-color: white;
	border-radius: 10px;
}



#mobileSwapImage {
	width: 100%;
	display: none;
}

#birthdayBookForm {
	display: none;
}

.page-header {
	color: black;
}

.page-header small {
	color: green;

}


h3 {
	padding-top: .3em;
}

.thumbnail {
	overflow: auto;
	max-height: 42em;
	padding: .2em;
}

.row-bottom-margin {
	margin-bottom: .1em;
}

#moreDocs {
	display: none;
}

ul {
	list-style: none;
	padding: 0 1.5em 0 1.5em;
}
/*
li {
	margin: .5em;
}*/



#lunchBunch {
	display: none;
}

#LibraryCards {
	display: none;
}

#BannedBooks {
	display: none;
}

#SummerReading {
	display: none;
}

.noShowLibText {
	display: none;
}

.showLibText {
	display: block;
}

#libraryFooter {
	background-color: white;
}


@media only screen and (max-width: 1820px) {
	.wrapper {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 1200px) {
	.wrapper {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 400px) {
	.wrapper {
		margin-top: 0px;
	}
}
