/*******************/
/****general****/
/********************/
#parentContent {
  margin-top: 50px;
}

body {
position: relative;
  z-index: 10;
}

#mobileGroup {
  position: fixed;
  z-index: 1;

}
/*******************/
/****leftcolumn****/
/********************/
h3 {
  text-align: center;
}

#lunchInstructions {
  background-color: #7FDBFF;
}

.parentLink {
}

#lunchButtons {
display: inline-block;
margin: 0, auto;
text-align: center;

}



/*******************/
/****rightcolumn****/
/********************/

.list-group-item  {
  font-size: .9em;
  font-weight: 250;
}

h4 {
  text-align: center;
}

/*******************/
/****middleColumn****/
/********************/

.parentContentBackground {
  z-index: 100;
}

#parentPill {
  background-color: black;
  font-size: 1em;
  width: 100%;
  text-decoration: none;
  color: white;
  top: 30;
  overflow-y: scroll;
}


.affix {
      top: 100;
      width: 100%;
  }

.noShowText {
  display: none;
}

#parentRequirements {
  display: none;
}

#advisoryCouncilBox {
  display: none;
  background-color: #66cc99;
}

.advisoryList {
  margin-left: 1em;
}

#councilMembers {
  list-style: none;
}

#councilMembers{
  display: none;
}

#options {
  margin-left: 1em;
}

.parentCategoryRow {
  padding-bottom: .5em;
  border-bottom: solid;
  border-width: thin;
  border-color: lightGray;
  text-transform: uppercase;
  font-size: 1.5em;
}

.parentCategoryRow h5 {
  color: red;
}

.parentReqRow {
  padding-top: .5em;
  border-bottom: solid;
  border-width: thin;
  border-color: lightGray;
}

.parDates {
  list-style: none;
  margin-left: 1em;
}

#assocDocuments {
  margin-left: 1em;
}

#exCareStaff {
  margin-left: 1em;
}
#exCareCal {
  margin-left: 1em;
}

.careStaff {
  list-style: none;
  margin-left: 1em;
}
#careBold {
  font-weight: bold;
}

.docButton {
  margin-right: 1em;
}

#councilButton {
  margin-left: 1em;
}

#assocDocs {
  margin-left: 1em;
}

.mobileGroup {
 margin: 0px;
 z-index: 0;
}
/*

.recipeMenuOpen {
	left: 0px;
	top: 0px;
	margin: 0px;
	position: fixed;
	z-index: 0;
	width: 25%;
	margin-top: 2em;
	height: 100%;
	background-color: orange;
	...
}*/

#hotLunchMobileBox .btn {
  margin: 0, auto;
  margin-right: .5em;
  margin-bottom: 1em;

}

#volgButton {
  margin-right: 1em;
}

#freshLunch {
  background-color: green;
  color: white;
}


/*******************/
/*Media Queries**/
/*******************/
@media only screen and (min-width: 1000px){
  .mobileShrink {
    display: none;
  }


}

@media only screen and (max-width: 1440px) {
	#parentContent {
		margin-top: 70px;
	}
}

@media only screen and (max-width: 768px) {
	#parentContent {
		margin-top: 10px;
	}
}
