.auctionBox {
  margin: 1em;
  background-color: red;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 50px 10px 50px 10px;
}

.auctionContainer {
  margin-top: 5em;
}

.leadership li {
  text-align: center;
  color: #5994a3;
  list-style: none;
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
}
.procurementForm {
  color: red;
  font-size: 1.25em;
  text-decoration: none
}

#auctionImageHero {
  display: flex;
  flex-shrink: 3;
  list-style: none;
  padding: 1em;
}

.auctionMastRow {
  display: inline-block;
}

.auctionMastRow img {
}

.auctionMastRow h3  {
font-family: 'Cinzel', serif;
text-align: center;
}

.auctionNav {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}


.auctionSmButtons {
  margin-left: 1em;
  text-align: center;
  padding: 1em;
  background-color: green;
  color: white;
}


#auctionNews {
  background-color: #535353;
}

#auctionProcurement {
  background-color: #50988c;
}

#auctionHelp {
  background-color: #b3d88e;
}

#auctionLeadership {
  background-color: #5994a3;
}

.boxTitle {
  font-family: 'Cinzel', serif;
  text-align: center;
  color: white;
}


.emphasisTitle {
  line-height: 1.25em;
  font-family: 'Cinzel', serif;
  text-align: center;
  color: red;
  font-weight: bold;
}

#textBoxOpen {
  margin: 1.5em;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 1em;
  display: none;
}

.auctionText {
  display: none;
}


.newsEmbedImage {
  display: block;
  margin: 0 auto;
}

.newsTitles {
  font-weight: bold;
  color: red;
}

.newsList {
  list-style: none;
  /*text-align: center;*/
}

.newsList li {
  padding-top: 1em;
}

.procureIntro {
  padding-left: 1em;
}

#welcomeText {
  display: none;
}

#leadershipText h4 {
  color: red;
  text-align: center;
}

#contact {
  text-align: center;
}

.legacyContainer {
  background-color: #404040;
  padding-top: 3em;
  margin-top: 3em;
}

.runContainer {
  padding-top: 3em;
  margin-top: 5em;
  background-color: #A0A0A0;
}

.runImage {
  padding: 2em;
  border-radius: 1px;
}

.runTitle {
  text-align: center;
}
