.supportContent {
  margin-top: 50px;
}



.supportMenuLarge {
  list-style: none;

}

.supportMenuLarge li {
  margin-bottom: 1em;
}

h4 {
  text-transform: uppercase;
  color: #4e5d74;
}



.media-object img {
    border-style: solid;
    border-color: #C0C0C0;
    border-width: thin;
}

.leftImage {
  max-width: 100%;
  border-style: solid;
  border-color: #C0C0C0;
  border-width: thin;
}

.noShowText {
  display: none;
}

.auctionActions {
  list-style: none;
}

.auctionActions li {
  display: inline-block;
}

#auctionSupportButton {
  background: #999933;
  margin-right: 1em;
}

#donateNowButton {
  background: #663333;
  color: white;
  margin-right: 1em;
}

#auctionForms {
  background: #666666;
  color: white;
  margin-left: 0;
}

#mailAuction {
  margin-left: .5em;
}

#run4Donation {
  margin-right: 1em;
}
#run4Forms {
  margin-right: 1em;
}
