/***************************/
/*******top image and nav*****/
/***************************/


.container {
	margin-top: 45px;
}

.admissionsContent {
	margin-top: 25px;
}


.jumbotron {
	padding-top: 1.5em;

}



li {
	list-style: none;

}

img {
	padding-top: .5em;
}



.jumbotron p {
	font-size: 1em;
}

#moreJumbo {
	display: none;
}

form {
	display: none;
}




@media screen and (min-width: 1000px) {
		.jumbotron {
			font-size: 1.2em;
		}
}

@media screen and (max-width: 1024px) {
		.container {
			margin-top: 0px;
		}


@media screen and (max-width: 999px) {
		.jumbotron {
			font-size: 1em;
			padding: 1em;
		}

}

@media screen and (max-width: 600px) {
		.jumbotron {
			font-size: .85em;
		}

}
