<!DOCTYPE html>
<html>
<head>
  <title>Cathedral School</title>
  <link rel="icon" type="image/png" href="images/favicon.io"/>
  <meta name="description" content="Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School
  	with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8.">
  <meta name="keywords" content="Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school,
  	Apple distinguished school">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"   integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link href="stylesheets/mystyles.css" rel="stylesheet" media="screen">
  <link href="stylesheets/admissions.css" rel="stylesheet" media="screen">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="topNav" role="navigation">
    	<!-- this is the hamburger collapse menu -->
    	<div class="navbar-header">
    	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	    <span class="sr-only">Toggle navigation</span>
    	    <span class="icon-bar"></span>
    	    <span class="icon-bar"></span>
    	    <span class="icon-bar"></span>
    	  </button>
    	  <a class="navbar-brand" id="smallTitle" href="/">Cathedral School</a>
   	  </div>
  	  <div class="navbar-collapse collapse">
  		  <ul class="nav navbar-nav navbar-left">
  		  	<li><img src="images/cathedralLogoBlack.jpg" class="img" id="navImage" alt="CathedralLogo">
  		  	<li id="cathedralTitle"><a href="/" >Cathedral School</a></li>
          <li>
            <a aria-expanded="true" class="dropdown-toggle" data-toggle=
            "dropdown" href="/about">About <span class=
            "caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about#navImage">Our Vision</a></li>
              <li><a href="/about#learningExpectations">Learning Expectations</a></li>
              <li><a href="http://www.westwcea.org/" target=_blank>Accreditation</a></li>
              <li><a href="/about#appleAnchor">Distinguished by Apple</a></li>
              <li><a href="/about#frequentQuestions">Frequently Asked Questions</a></li>
              <li><a href="/about#ourHistory">Our History</a></li>
            </ul>
          </li>
  		  	<li><a href="/academics">Academics</a></li>
          <li class="active">
            <a aria-expanded="true" class="dropdown-toggle" data-toggle=
            "dropdown" href="/about">Admissions <span class=
            "caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/admissions#jumbo1">Introductions</a></li>
              <li><a href="documents/admissionsPolicy.pdf" target="_blank">Admissions Policy</li>
              <li><a href="documents/2015_2016Tuition.pdf" target="_blank">2015&#45;2016 Tuition</a></li>
              <li><a href="/documents/2016_17NewStudentApplication.pdf" target="_blank">2016&#45;2017 New Student Application</a></li>
              <li><a href="/about#frequentQuestions">Frequently Asked Questions</a></li>
              <li><a href="/about#ourHistory">Our History</a></li>
            </ul>
          </li>
  		  	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Program <span class="caret"></span></a>
  		  	    	<ul class="dropdown-menu">
  			  	    	<li><a href="/ourProgram#overView">Explore</a></li>
  			  	    	<li><a href="/ourProgram#musicImage">Music</a></li>
  			  	    	<li><a href="/ourProgram#pePic">Physical Education</a></li>
  			  	    	<li><a href="/ourProgram#artImage">Art</a></li>
  			  	    	<li><a href="/library">Library</a></li>
  			  	    	<li><a href="/ourProgram#spanishImage">Spanish</a></li>
  			  	    	<li><a href="/ourProgram#activityImage">Activities</a></li>
  			  	    	<li><a href="/ourProgram#serviceImage">Service</a></li>
  			  	    	<li><a href="/ourProgram#extendedCareImage">Extended Care</a></li>
  			  	    </ul>
  		  	</li>
  		  	    <li><a href="https://cathedralschoolpdx.wordpress.com">News</a></li>
  		  	    <li><a href="/calendar">Calendar</a></li>
              <li>
                <a aria-expanded="true" class="dropdown-toggle" data-toggle=
                "dropdown" href="/parents">Parents <span class=
                "caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/parents">Parent Main</a></li>
                  <li><a href="documents/2015_2016Tuition.pdf" target="_blank">Parent Handbook</a></li>
                  <li><a href="#" target="_blank">Hot Lunch</a></li>
                  <li><a href="/documents/parents/extendedCare/afterCareReg.pdf" target="_blank">Extended Care Registration</a></li>
                  <li><a href="/documents/parents/instructionsForBackgroundCheck.pdf" target="_blank">Get Setup to Volunteer</a></li>
                  <li><a href="http://website.praesidiuminc.com/" target="_blank">Called To Protect Training</a></li>
                  <li><a href="https://online.factsmgt.com/signin/3GKRY" target="_blank">FACTS Login</a></li>
                  <li><a href="http://www.loyolapress.com/3-minute-retreats-daily-online-prayer.htm" target="_blank">3 Minute Retreat</a></li>
                </ul>
              </li>
  	  	    	<li><a href="/alumni">Alumni</a></li>
              <li><a href="/support">Support</a></li>

              <li class="dropdown">
  	  	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
  		  	    	<ul class="dropdown-menu">
  			  	  		<li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
  			  	  		<li><a href="mailto:shatley@cathedral-or.org">email</a></li>
  			  	  		<li><a href="fax">Fax (503) 275-9378</a></li>
  			  	  		<li><a href="https://www.google.com/maps/place/Cathedral+School/@45.5249058,-122.6903293,17.66z/data=!4m2!3m1!1s0x54950a02a6419fe9:0xf5812e73081f01ea" target="_blank">Find Us</a></li>
  			      	</ul>
  		      	</li>

  			    </ul>
  		  	</div>
    </div>
		  <div class="container-fluid">
		  <div class="row">
		  	<div class="col-xs-12 col-md-8 jumbotron">
  		  	<div class="jumbo1">
  			  <h3>We are excited to share our school with you!</h3>
  			  <p>As a ministry of St. Mary&rsquo;s Cathedral parish, Cathedral School provides an excellent education in the Catholic tradition. Students grow in faith through prayer, study, and service. As they develop their academic skills, they learn to think critically, to work collaboratively, and to understand themselves as learners. Students develop the skills and attitudes that will help them become contributing members of society. </p>
  			  <p><a class="btn btn-primary btn-lg" id="admissionsButton" href="#" role="button">Learn more</a></p>
        </div>
        <div id="moreJumbo">
          <h4>Beginning The Journey</h4>
          <p>The search for the right school is an exciting and challenging prospect for parents. Our goal is to help you learn about our community, academic programs, and staff, providing everything you need to inform your decision. Explore our website, and contact us to arrange for a tour of the school. The best way for you to get a sense of our core values, students, staff, and vibrant school life is to come and visit.</p>
    			<h4>Enrollment Ages</h4>
    			<p>Students applying for pre-kindergarten must be four years old on or before September 1st. Students applying for kindergarten must be five years old on or before September 1st. Applications may be submitted beginning September 1st of the year prior to entrance.</p>
    			<p><a class="btn btn-default btn-lg" id="backButton" href="#" role="button">Back</a><a class="btn btn-default btn-lg" id="interestForm" href="https://portlandcathedralschool.wufoo.com/forms/s1u6rjre1f6aw59/" role="button">Request Information</a></p>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img src="images/img_admissions/admissionsKids.jpg" class="img-responsive img-rounded" alt="kids singing">
          </div>
        </div>
      </div>
			<div class="col-xs-12 col-md-4">
					<div class="list-group">
					  <a href="documents/admissionsPolicy.pdf" target="_blank"<button type="button" class="list-group-item">Admissions Policy</a></button>
					  <a href="documents/2015_2016Tuition.pdf"<button type="button" class="list-group-item">2015-2016 Tuition Rates</a></button>
					  <a href="documents/newStudentApplication.pdf" target="_blank" <button type="button" class="list-group-item">2015-2016 New Student Application</button>
					  <a href="documents/2016_17NewStudentApplication.pdf" target="_blank"<button type="button" class="list-group-item">2016-2017 New Student Application</a></button>
					  <a href="https://online.factsmgt.com/signin/3GKRY" target="_blank"<button type="button" class="list-group-item">FACTS</a></button>
					  <li><img src="images/img_admissions/closeupK.jpg" class="img-responsive img-rounded" alt="kids singing"></li>
					</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div id="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3154182899416!2d-122.68788409999998!3d45.52385790000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a02a6419fe9%3A0xf5812e73081f01ea!2sCathedral+School!5e0!3m2!1sen!2sus!4v1441829184349" width="375" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					<div class="well well-lg" id="ourLocation">
						<h3>Our Location</h3>
						<p>110 NW 17th Avenue</p>
						<p>Portland, Oregon 97209</p>
						<p><a href="tel:(503) 275 9370">(503) 275-9370</a></p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>

		<div class = "bar">

        <div class="social">
        	<h4>Connect With Us </h4>
        	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
        	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
        	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
        	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2015 All Rights Reserved</div>
        </div>

</footer>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
  <script type="text/javascript" src="javascripts/admissions.js"></script>
</body>
</html>
