<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cathedral School</title>
  <link href="images/favicon.io" rel="icon" type="image/png">
  <meta charset="utf-8">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <meta content=
  "Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8."
  name="description">
  <meta content=
  "Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school"
  name="keywords">
  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <link crossorigin="anonymous" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity=
  "sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  rel="stylesheet"><!-- Optional theme -->
  <link crossorigin="anonymous" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
  integrity=
  "sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
  rel="stylesheet"><!-- Latest compiled and minified JavaScript -->

  <script src=
  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
  <link href="/bootstrap/css/bootstrap.min.css" media="screen" rel=
  "stylesheet">
  <link href="stylesheets/mystyles.css" media="screen" rel="stylesheet">
  <link href="stylesheets/parents.css" media="screen" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" id="topNav" role=
  "navigation">
    <div class="container">
      <!-- this is the hamburger collapse menu -->
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse"
        data-toggle="collapse" type="button"><span class="sr-only">Toggle
        navigation</span> <span class="icon-bar"></span> <span class=
        "icon-bar"></span> <span class="icon-bar"></span></button> <a class=
        "navbar-brand" href="index.html" id="smallTitle">Cathedral School</a>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><img alt="CathedralLogo" class="img-responsive" id="navImage" src=
        "images/cathedralLogoBlack.jpg"></li>
        <li id="cathedralTitle">
          <a href="/">Cathedral School</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/academics">Academics</a>
        </li>
        <li>
          <a href="/admissions">Admissions</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Our
          Program <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="ourProgram.html#overView">Explore</a>
            </li>
            <li>
              <a href="ourProgram.html#musicImage">Music</a>
            </li>
            <li>
              <a href="ourProgram.html#pePic">Physical Education</a>
            </li>
            <li>
              <a href="ourProgram.html#artImage">Art</a>
            </li>
            <li>
              <a href="library.html">Library</a>
            </li>
            <li>
              <a href="ourProgram.html#spanishImage">Spanish</a>
            </li>
            <li>
              <a href="ourProgram.html#activityImage">Activities</a>
            </li>
            <li>
              <a href="ourProgram.html#serviceImage">Service</a>
            </li>
            <li>
              <a href="ourProgram.html#extendedCareImage">Extended Care</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="https://cathedralschoolpdx.wordpress.com">News</a>
        </li>
        <li>
          <a href="/calendar">Calendar</a>
        </li>
        <li>
          <a href="/parents">Parents</a>
        </li>
        <li class="active">
          <a href="/alumni">Alumni</a>
        </li>
        <li>
          <a href="/support">Support</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="tel:5032759370">Phone (503) 275-9370</a>
            </li>
            <li>
              <a href="mailto:shatley@cathedral-or.org">email</a>
            </li>
            <li>
              <a href="fax">Fax (503) 275-9378</a>
            </li>
            <li>
              <a href="#">Directions</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="thumbnail">
          <img alt="8th Grade Girl Graduates" class="img-responsive" src=
          "images/img_alumni/8thGradeGirls.jpg">
          <div class="caption">
            <h4>The young women of Cathedral School Class of 2015.<br>
            <br></h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="thumbnail">
          <img alt="alumni football champions" class="img-responsive" src=
          "images/img_alumni/alumniFootball.jpg">
          <div class="caption">
            <h4>Cathedral School alumni Griffin Marler and Coby Norton
            celebrate after Jesuit High School wins State Football
            Championship.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="thumbnail">
          <h5>Did You Know&#63;</h5>
          <p>One hundred percent of Cathedral School students that apply to
          Catholic College Preparatory High Schools are accepted. Ninety-five
          to one hundred percent of our students attend College Preparatory
          High Schools.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img alt="8th Grade Girl Graduates" class="img-responsive" src=
        "images/img_alumni/alumniBig.jpg">
        <div class="caption"></div>
      </div>
      <div class="col-sm-6">
        <div id="wufoo-q7szmqi1xp9sig">
          Fill out my <a href=
          "https://portlandcathedralschool.wufoo.com/forms/q7szmqi1xp9sig">online
          form</a>.
        </div>
        <div id="wuf-adv" style=
        "font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">
        The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form
        builder</a> helps you make forms easy, fast, and fun.
        </div>
        <script type="text/javascript">
                var q7szmqi1xp9sig;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'portlandcathedralschool',
                'formHash':'q7szmqi1xp9sig',
                'autoResize':true,
                'height':'982',
                'async':true,
                'host':'wufoo.com',
                'header':'show',
                'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { q7szmqi1xp9sig = new WufooForm();q7szmqi1xp9sig.initialize(options);q7szmqi1xp9sig.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');
        </script>
      </div>
    </div>
  </div>
  <footer>
    <div class="social">
      <h4>Connect With Us</h4><a href="http://www.westwcea.org/"><img alt=
      "Western Catholic Badge" src="images/wceBadge2.jpg"></a> <a href=
      "https://www.facebook.com/pages/Cathedral-School/472568026167913"><img alt="facebook icon"
      src="images/facebookIcon.png"></a> <a href=
      "https://twitter.com/CathedralPDXOR?lang=en"><img alt="twitter icon" src=
      "images/twitterIcon.png"></a> <a href=
      "http://www.apple.com/education/apple-distinguished-schools/"><img alt=
      "apple distinguished school icon" src="images/appleLogo.jpg"></a>
    </div>
    <div class="clear"></div>
    <div class="copyright">
      &copy; 2015 All Rights Reserved
    </div><!--  </div>
 </div> -->
  </footer>
  <script src="javascripts/parents.js" type="text/javascript">
  </script>
</body>
</html>
