<!DOCTYPE html>
<html>
<head>
  <title>Cathedral School</title>
  <link rel="icon" type="image/png" href="images/favicon.io"/>
  <meta name="description" content="Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School
  	with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8.">
  <meta name="keywords" content="Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school,
  	Apple distinguished school">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"   integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link href="stylesheets/mystyles.css" rel="stylesheet" media="screen">
   <link href="stylesheets/calendar.css" rel="stylesheet" media="screen">

</head>
<body>
  <!-- <!-- main navigation-->
  <div class="navbar navbar-inverse navbar-fixed-top" id="topNav" role="navigation">
      <div class="container">
        <!-- this is the hamburger collapse menu -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="smallTitle" href="index.html">Cathedral School</a>
    </div>
  </div>


      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><img src="images/cathedralLogoBlack.jpg" class="img-responsive" id="navImage" alt="CathedralLogo">
            <li id="cathedralTitle"><a href="/">Cathedral School</a></li>

            <li>
              <a aria-expanded="true" class="dropdown-toggle" data-toggle=
              "dropdown" href="/about">About <span class=
              "caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/about#navImage">Our Vision</a></li>
                <li><a href="/about#learningExpectations">Learning Expectations</a></li>
                <li><a href="http://www.westwcea.org/" target=_blank>Accreditation</a></li>
                <li><a href="/about#appleAnchor">Distinguished by Apple</a></li>
                <li><a href="/about#frequentQuestions">Frequently Asked Questions</a></li>
                <li><a href="/about#ourHistory">Our History</a></li>
              </ul>
            </li>            <li><a href="/academics">Academics</a></li>
            <li><a href="/admissions">Admissions</a></li>
            <li>
              <a aria-expanded="true" class="dropdown-toggle" data-toggle=
              "dropdown" href="/ourProgram">Our Program <span class=
              "caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/ourProgram#overView">Explore</a>
                </li>
                <li>
                  <a href="/ourProgram#musicImage">Music</a>
                </li>
                <li>
                  <a href="/ourProgram#pePic">Physical Education</a>
                </li>
                <li>
                  <a href="/ourProgram#artImage">Art</a>
                </li>
                <li>
                  <a href="/library">Library</a>
                </li>
                <li>
                  <a href="/ourProgram#spanishImage">Spanish</a>
                </li>
                <li>
                  <a href="/ourProgram#activityImage">Activities</a>
                </li>
                <li>
                  <a href="/ourProgram#serviceImage">Service</a>
                </li>
                <li>
                  <a href="/ourProgram#extendedCareImage">Extended Care</a>
                </li>
              </ul>
            </li>
            <li><a href="https://cathedralschoolpdx.wordpress.com">News</a></li>
            <li><a href="/calendar">Calendar</a></li>
            <li><a href="/parents">Parents</a></li>
            <li><a href="/alumni">Alumni</a></li>
            <li><a href="/support">Support</a></li>
            <li class="dropdown">
              <a href="/contact" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
                <li><a href="mailto:shatley@cathedral-or.org">email</a></li>
                <li><a href="fax">Fax (503) 275-9378</a></li>
                <li><a href="#">Directions</a></li>
              </ul>
            </li>
          </ul>
      </div>
  </div>
		  	<div class="desktopCalendar">
		  	<div class="container">
		  	<div class="row">
		  	<div class="col-sm-12">
		  	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=cathedral-or.org_vlp4f7a085ajqjr9v94cpj3ask%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="1024" height="800" frameborder="0" scrolling="no"></iframe>
		  	</div>
		  	</div>
		  	</div>
		  	</div>

		  	<div class="tabletCalendar">
		  	<div class="container">
		  	<div class="row">
		  	<div class="col-sm-12">
		  	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=cathedral-or.org_vlp4f7a085ajqjr9v94cpj3ask%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="759" height="600" frameborder="0" scrolling="no"></iframe>
		  	</div>
		  	</div>
		  	</div>
		  	</div>

		  	<div class="smartCalendar">
		  	<div class="container">
		  	<div class="row">
		  	<div class="col-sm-12">
		  	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=cathedral-or.org_vlp4f7a085ajqjr9v94cpj3ask%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="600" frameborder="0" scrolling="no"></iframe>
		  	</div>
		  	</div>
		  	</div>
		  	</div>

	<footer>

		<div class = "bar">
			<!-- <ul class = "links">
				<li><a href="#">Home</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#">About</a></li>
            </ul> -->

        <div class="social">
        	<h4>Connect With Us </h4>
        	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
        	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
        	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
        	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2015 All Rights Reserved</div>
        </div>
   <!--  </div>
   </div> -->
</footer>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
  <!-- <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script> -->
</body>
</html>
