<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cathedral School</title>
  <link rel="icon" type="image/png" href="images/favicon.io"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <meta name="description" content="Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School
  	with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8.">
  <meta name="keywords" content="Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"   integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
  <link href="stylesheets/mystyles.css" rel="stylesheet" media="screen">
  <link href="stylesheets/ourProgram.css" rel="stylesheet" media="screen">
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" id="topNav" role="navigation">
  	<!-- this is the hamburger collapse menu -->
  	<div class="navbar-header">
  	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  	    <span class="sr-only">Toggle navigation</span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
  	  </button>
  	  <a class="navbar-brand" id="smallTitle" href="/">Cathedral School</a>
 	  </div>
	  <div class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-left">
		  	<li><img src="images/cathedralLogoBlack.jpg" class="img" id="navImage" alt="CathedralLogo">
		  	<li id="cathedralTitle"><a href="/" >Cathedral School</a></li>
		  	<li><a href="/about">About</a></li>
		  	<li><a href="/academics">Academics</a></li>
		    <li><a href="/admissions">Admissions</a></li>
		  	<li class="dropdown"> <a href="/ourProgram" class="dropdown-toggle" data-toggle="dropdown">Our Program <span class="caret"></span></a>
		  	    	<ul class="dropdown-menu">
			  	    	<li><a href="/ourProgram#overView">Explore</a></li>
			  	    	<li><a href="/ourProgram#musicImage">Music</a></li>
			  	    	<li><a href="/ourProgram#pePic">Physical Education</a></li>
			  	    	<li><a href="/ourProgram#artImage">Art</a></li>
			  	    	<li><a href="/library">Library</a></li>
			  	    	<li><a href="/ourProgram#spanishImage">Spanish</a></li>
			  	    	<li><a href="/ourProgram#activityImage">Activities</a></li>
			  	    	<li><a href="/ourProgram#serviceImage">Service</a></li>
			  	    	<li><a href="/ourProgram#extendedCareImage">Extended Care</a></li>
			  	    </ul>
		  	</li>
		  	    <li><a href="https://cathedralschoolpdx.wordpress.com">News</a></li>
		  	    <li><a href="/calendar">Calendar</a></li>
	          <li><a href="/parents">Parents</a></li>
	  	    	<li><a href="/alumni">Alumni</a></li>
            <li><a href="/support">Support</a></li>

	  	    	<li class="dropdown">
	  	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
		  	    	<ul class="dropdown-menu">
			  	  		<li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
			  	  		<li><a href="mailto:shatley@cathedral-or.org">email</a></li>
			  	  		<li><a href="fax">Fax (503) 275-9378</a></li>
			  	  		<li><a href="#">Directions</a></li>
			      	</ul>
		      	</li>

			    </ul>
		  	</div>
  </div>

  		<!-- //navigation of classes// -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <div class="list-group programNav" id="programNav">
          <a href="#mainImage" class="list-group-item" id="overView">Overview</a>
          <a href="#spanishImage" class="list-group-item" id="spanishShow">Spanish</a>
          <a href="#stemImg" class="list-group-item" id="overView">STEM</a>
          <a href="#musicImg" class="list-group-item" id="musicShow">Music</a>
          <a href="#artImg" class="list-group-item" id="artShow">Art</a>
          <a href="#peImg" class="list-group-item" id="peShow">PE</a>
          <a href="#activitiesImg" class="list-group-item" id="activitiesShow">Activities</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-8 heroImg">
        <div class="thumbnail main" id="mainImage">
          <img src="images/img_ourProgram/cheeringBoy.jpg" alt="cheering boy">
        </div>
        <div class="thumbnail main">
          <h3>Our Program</h3>
          <p>	Cathedral School welcomes our students with respect for who they are and with delight in what they will bring to the world and our school community. From our dedicated faculty to our innovative academic, spiritual, and leadership initiatives, to our beautiful facility, our comprehensive school program is designed to inspire, nurture, and support students. <br>
          Cathedral School is committed to helping all young people grow and maintain healthy bodies and active intellects. We want our students to enjoy an active life therefore we emphasize collaboration, inclusion, and skill development in all our programs. Music, sports, community service, and many more opportunities help further the development of our students as they discover their own passions and interests.</p>
        </div>
        <div class="thumbnail spanish">
            <img id="spanishImage" src="images/img_ourProgram/spanish.jpg"  alt="spanish">
        </div>
        <div class="thumbnail spanish" id="spanish">
          <h3>Spanish</h3>
          <p>Recognizing a well-rounded Catholic education includes exposure to the discipline of learning a world language, an appreciation of diverse cultures, and development of a connection between faith and language, all Cathedral students study Spanish. Children in Pre -Kindergarten through Fifth Grade attend Spanish two times per week, often in small groups. In Middle School, Spanish is part of the core curriculum and students are taught three times a week. The curriculum is tailored to each age group with each grade’s students progressively broadening their vocabulary and increasing the complexity of their language. Communicative language use is a focus at every grade level with the youngest students learning to reply to simple questions and the middle school students engaging in full-length improvised conversations. The middle school curriculum is designed to give students a solid base in Spanish level 1 and an introduction to Spanish level 2, so that students may test out of high school level 1 if they choose.  Students who opt to study a new language in high school are well prepared with the language learning skills they have attained. </p>
	        <p>Throughout the school year, the connection between the Catholic Church and Spanish-speaking countries is explored through celebrating an annual prayer service in Spanish, honoring religious holidays important in Hispanic communities (such as the Feast of Our Lady of Guadalupe), and the learning and reciting of Catholic prayers in Spanish.</p>
          <a href="#programNav">Back to Top</a>
      </div>
      <div class="thumbnail main" id="STEMBox">
        <img id="stemImg" src="images/img_ourProgram/stem.jpg" alt="preK STEM">
      </div>
      <div class="thumbnail main">
        <h3>STEM</h3>
        <p>Cathedral School implemented a 1:1 iPad program during the 2011-2012 school year. The 1:1 environment utilizes technology as a tool to enhance teaching and improve learning. Apple technology has enabled Cathedral School to become a leader of innovative education in the Portland area as well as an Apple Distinguished School.</p>
        <a href="#programNav">Back to Top</a>

        </div>
      <div class="thumbnail main" id="musicBox">
        <img id="musicImg" src="images/img_ourProgram/musicProgram.jpg" alt="music">
      </div>
      <div class="thumbnail musicMain">
        <h3>Music</h3>
        <p>Music education at Cathedral takes many forms. Drawing inspiration and direction from both the
        Kod&aacutely Method and Orff Approach, the curriculum engages the minds and bodies of students.  From traditional religious and folk music vocal selections to contemporary songs, children learn the basics of music education with concepts of rhythm, beat, melody, tempo, and dynamics. Vocal training is coupled with instrument play at each grade with a range of pitched and non-pitched percussion instruments from triangles, drums and tambourines to glockenspiels and boomwhackers. Beginning in Grade 4, all students learn the recorder. In the youngest grades, movement and music come together with the help of parachutes, scarves, hula-hoops, and balls.  At its essence, class time is focused on instilling an appreciation of the beauty, art, and joy of music in its many forms.</p>
        <p>Music classes are closely tied with liturgical preparation. Each class is tasked with preparing and leading the school in prayer services (Prayer on Wednesday) and masses during the school year.  During music class, students select and rehearse music for the liturgies. Children in grades two through eight interested in furthering their music training and performance can participate in the Cathedral Children&rsquo;s Choir that performs at school masses and monthly parish family masses. All Cathedral students participate in the annual Christmas Program held in St.
        Mary&rsquo;s Cathedral where individual classes as well as all students together present Christmas selections culminating in a reenactment of the gospel story of Christmas complete with choral accompaniment.<br>
        <a href="#programNav">Back to Top</a>
      </p>
        <a href="#musicImg" class="btn btn-info" id="ensembleButton" role="button">Ensembles</a>
        </div>

        <div class="thumbnail" id="musicEnsembles">
            <h4>Choir</h4>
              <p>
              Open to all children in grades two through eight, the Cathedral Children&rsquo;s Choir provides additional opportunities for vocal instruction and performance for students beyond the school day music instruction. Children practice after school and perform both at bi-monthly school masses as well as the monthly Parish Family Masses. As students advance, they are trained and perform as cantors at these masses as well. The choir focuses on liturgical music but blends popular music into instruction to keep the experience fun and engaging for the participants.</p>
              <h4>Strings</h4>
              <p>
              Cathedral School is excited to offer a new strings class beginning fall 2015.  Open to all ages, the class meets immediately after school on a weekly basis.  A variety of styles of music will be covered with an emphasis on teamwork, musicality and artistic expression.  The class will culminate with a performance at the annual Christmas Concert.</p>
              <a href="#musicImg" class="btn btn-danger" id="musicInfoBack" role="button">Back</a>
        </div>
        <div class="thumbnail art">
            <img id="spanishImage" src="images/img_ourProgram/spanish.jpg"  alt="spanish">
        </div>
        <div class="thumbnail art">
          <h3>Art</h3>
          <p>	Cathedral maintains a collaborative partnership with the Oregon College of Art and Craft that supplies a skilled teacher to run our art program. Miss  Cynthia Trevi&ntilde;o was engaged as our art teacher in the fall of 2015. Prior to joining Cathedral she taught at OCAC in their summer camp program. Her previous experience includes teaching art in an elementary school for six years as well as working with students from the age of four to fifteen in outside programs. Beside her experience in drawing, painting, ceramics, photography and printmaking, she is also fluent in Spanish. In 2008 she was awarded teacher of the year at Gillette Elementary and has exhibited her artwork publicly. </p>
          <p>In all grades, drawing and painting instruction are combined with opportunities to work three dimensionally with clay, papier-m&acirc;ch&eacute;, and sculpey.  Notable artists (last year, Matisse, Van Gogh, Warhol, Mondrian, and Kushner) and works (like The Colosseum) inspire student work.</p>
          <p>Funds from Run 4 Cathedral and Cathedral&rsquo;s donors make Cathedral School&rsquo;s art program possible.</p>
          <div id='artShowText'>
            Every first Thursday in May (to coincide with the Pearl District Art Gallery&rsquo;s First Thursday Program), the Cathedral community gathers to celebrate the students&rsquo; achievement in art during the school year.  Cathedral&rsquo;s gym is transformed into an art gallery where all students&rsquo; work is featured and displayed.  Parents, students, and friends of Cathedral are invited to stroll and linger in the gym-gallery.  The evening is topped off with a community building Spaghetti Dinner prepared by parents of Cathedral and served by our 7th Grade Students.
          </div>
        </div>

     </div>
      </div>
  </div>
	<footer>

		<div class = "bar">

        <div class="social">
        	<h4>Connect With Us </h4>
        	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
        	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
        	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
        	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2015 All Rights Reserved</div>
        </div>
   <!--  </div>
   </div> -->
</footer>
</div>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
  <!-- <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="javascripts/ourProgram.js"></script>
</body>
</html>
