<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cathedral School</title>
  <link rel="icon" type="image/png" href="images/favicon.io"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <meta name="description" content="Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School
  	with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8.">
  <meta name="keywords" content="Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"   integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
  <link href="stylesheets/mystyles.css" rel="stylesheet" media="screen">
  <link href="stylesheets/parents.css" rel="stylesheet" media="screen">
</head>
<body>

  	<div class="navbar navbar-inverse navbar-fixed-top" id="topNav" role="navigation">
  	    <div class="container">
  	      <!-- this is the hamburger collapse menu -->
  	      <div class="navbar-header">

  	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  	        	<span class="sr-only">Toggle navigation</span>
  	        	<span class="icon-bar"></span>
  	        	<span class="icon-bar"></span>
  	        	<span class="icon-bar"></span>
  	        </button>
  	        <a class="navbar-brand" id="smallTitle" href="index.html">Cathedral School</a>
  		</div>
		</div>


		  	<div class="navbar-collapse collapse">
		  		<ul class="nav navbar-nav navbar-left">
		  			<li><img src="images/cathedralLogoBlack.jpg" class="img-responsive" id="navImage" alt="CathedralLogo">
		  	    	<li id="cathedralTitle"><a href="/">Cathedral School</a></li>

		  	    	<li><a href="/about">About</a></li>
              <li><a href="/academics">Academics</a></li>
              <li><a href="/admissions">Admissions</a></li>
		  	    	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Program <span class="caret"></span></a>
		  	    		<ul class="dropdown-menu">
			  	    		<li><a href="ourProgram.html#overView">Explore</a></li>
			  	    		<li><a href="ourProgram.html#musicImage">Music</a></li>
			  	    		<li><a href="ourProgram.html#pePic">Physical Education</a></li>
			  	    		<li><a href="ourProgram.html#artImage">Art</a></li>
			  	    		<li><a href="library.html">Library</a></li>
			  	    		<li><a href="ourProgram.html#spanishImage">Spanish</a></li>
			  	    		<li><a href="ourProgram.html#activityImage">Activities</a></li>
			  	    		<li><a href="ourProgram.html#serviceImage">Service</a></li>
			  	    		<li><a href="ourProgram.html#extendedCareImage">Extended Care</a></li>
			  	    	</ul>
		  	    	</li>

		  	    	<li><a href="https://cathedralschoolpdx.wordpress.com">News</a></li>
		  	    	<li><a href="/calendar">Calendar</a></li>


		  	    	<li><a href="/parents">Parents</a></li>

		  	    	<li><a href="#">Alumni</a></li>
		  	    	<!-- may want to make this a button eslewhere. -->
		  	    	<li class="dropdown">
		  	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
		  	    		<ul class="dropdown-menu">
			  	    		<li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
			  	    		<li><a href="mailto:shatley@cathedral-or.org">email</a></li>
			  	    		<li><a href="fax">Fax (503) 275-9378</a></li>
			  	    		<li><a href="#">Directions</a></li>
			  	    	</ul>
		  	    	</li>
		  	    	<li class= "dropdown">
		  	    		<a href="/support" class="dropdown-toggle" data-toggle="dropdown">Support <span class="caret"></span></a>
		  	    		<ul class="dropdown-menu">
			  	    		<li><a href="#">Donate Now</a></li>
			  	    		<li><a href="#">Run 4 Cathedral</a></li>
			  	    		<li><a href="#">Auction</a></li>
			  	    		<li><a href="#">Leave a Legacy</a></li>
			  	    	</ul>
		  	    	</li>
		  	    	<!-- <li><a href="shoppingCart.html"><span class="glyphicon glyphicon-shopping-cart"></span></a></li> -->
		  	    </ul>
		  	</div>
		</div>
    <!-- content for parents -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="row">
          <div class="thumbnail">
            <img src="images/img_parents/families.jpg" class= "img-rounded" alt="...">
            <div class="caption">
              <h3>Committees &#38; Events</h3>
              <div class="list-group">
                  <a href="#" class="list-group-item">Advisory Council</a>
                  <a href="#" class="list-group-item">Parents Association</a>
                  <a href="#" class="list-group-item">Run 4 Cathedral</a>
                  <a href="#" class="list-group-item">Auction</a>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="thumbnail">
          <img src="images/img_parents/toolbox.png" alt="...">
          <div class="caption">
            <h3>Hot Lunch Program</h3>

          </div>
        </div>
      </div>
      </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img src="images/img_parents/volunteerParents.jpg" class= "img-rounded" alt="...">
            <div class="caption">
              <h3>Partnering With You</h3>
              <p>Part of a commitment to and understanding of Cathedral School is the development of a partnership with the parents of all students. Parents at all levels are encouraged to be involved in the academic, social, and spiritual development of their children. Many volunteer opportunities exist to help parents be directly and indirectly involved with their children and their children&rsquo;s friends.  A parent may volunteer to be a room parent, library aid, and hot lunch--just to name a few opportunities.</p>
              <p><a href="#" class="btn btn-lg btn-success" id="pReq" role="button">Service Requirements</a></p>
              <p id="parentRequirements">
                Cathedral School recognizes parents as the primary educators of their children. We are committed to work in partnership with parents to engage students, develop in faith, knowledge, service, and community. <br>
                <br>
                There are many easy ways for parents to get involved at Cathedral. We train, no experience required.  We need your talents in both big and little ways. We ask parents to commit to serve throughout the year at specific events and in ways that work best for each family. We require each family to donate a minimum of 10 hours per student or 20 hours per family in service to the school. In addition we also require each family to perform 8 hours of service for the Cathedral School Auction.<br>
                <br>
                The table below provides information about specific events and opportunities available for parents to serve. We assign classes to events to create community, continuity, and fun!  Volunteering at Cathedral School is an expression of commitment to your children, your school, and your Christian faith. When a parent donates time at school, our children see the image of an adult as a giver, and they see the demonstration of one of the most poignant lessons from the Bible – humbly serving others.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2">
          <div class="row">
          <div class="thumbnail">
            <img src="images/img_parents/check.png" alt="...">
            <div class="caption">
              <h4>Documents</h4>
              <div class="list-group">
                <a href="documents/parent-handbook-2015-2016.pdf" target="_blank" class="list-group-item">Parent Handbook</a>
                <a href="documents/student-parent-handbook-2015-2016.pdf" target="_blank" class="list-group-item">Student Parent Handbook</a>
                <a href="documents/studentSupplies2015-2016.pdf" target="_blank" class="list-group-item">Student Supplies</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="thumbnail">
          <img src="images/img_parents/plugin.png" alt="...">
          <div class="caption">
            <h4>Links</h4>
            <div class="list-group">
              <a href="http://website.praesidiuminc.com/" class="list-group-item">Called to Protect Online Training</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>


    <script type="text/javascript" src="javascripts/parents.js"></script>
