<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cathedral School</title>
  <link rel="icon" type="image/png" href="images/favicon.io"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0">
  <meta name="description" content="Located in Portland, Oregon, Cathedral School is a premier, comprehensive accredited Catholic School
  	with strong emphasis on faith, knowledge, service and community for students grade preK through grade 8.">
  <meta name="keywords" content="Catholic School, Portland, Oregon, accredited, lower school, middle school, kindergarten, elementary school, Apple distinguished school">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"   integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
<link href="stylesheets/mystyles.css" rel="stylesheet" media="screen">
<link href="stylesheets/support.css" rel="stylesheet" media="screen">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="topNav" role="navigation">
    	<!-- this is the hamburger collapse menu -->
    	<div class="navbar-header">
    	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	    <span class="sr-only">Toggle navigation</span>
    	    <span class="icon-bar"></span>
    	    <span class="icon-bar"></span>
    	    <span class="icon-bar"></span>
    	  </button>
    	  <a class="navbar-brand" id="smallTitle" href="/">Cathedral School</a>
   	  </div>
  	  <div class="navbar-collapse collapse">
  		  <ul class="nav navbar-nav navbar-left">
  		  	<li><img src="images/cathedralLogoBlack.jpg" class="img" id="navImage" alt="CathedralLogo">
  		  	<li id="cathedralTitle"><a href="/" >Cathedral School</a></li>
  		  	<li class="active"><a href="/about">About</a></li>
  		  	<li><a href="/academics">Academics</a></li>
  		    <li><a href="/admissions">Admissions</a></li>
  		  	<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Program <span class="caret"></span></a>
  		  	    	<ul class="dropdown-menu">
  			  	    	<li><a href="/ourProgram#overView">Explore</a></li>
  			  	    	<li><a href="/ourProgram#musicImage">Music</a></li>
  			  	    	<li><a href="/ourProgram#pePic">Physical Education</a></li>
  			  	    	<li><a href="/ourProgram#artImage">Art</a></li>
  			  	    	<li><a href="/library">Library</a></li>
  			  	    	<li><a href="/ourProgram#spanishImage">Spanish</a></li>
  			  	    	<li><a href="/ourProgram#activityImage">Activities</a></li>
  			  	    	<li><a href="/ourProgram#serviceImage">Service</a></li>
  			  	    	<li><a href="/ourProgram#extendedCareImage">Extended Care</a></li>
  			  	    </ul>
  		  	</li>
  		  	    <li><a href="https://cathedralschoolpdx.wordpress.com">News</a></li>
  		  	    <li><a href="/calendar">Calendar</a></li>
  	          <li><a href="/parents">Parents</a></li>
  	  	    	<li><a href="/alumni">Alumni</a></li>
              <li><a href="/support">Support</a></li>

  	  	    	<li class="dropdown">

  	  	    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
  		  	    	<ul class="dropdown-menu">
  			  	  		<li><a href="tel:(503) 275 9370">Phone (503) 275-9370</a></li>
  			  	  		<li><a href="mailto:shatley@cathedral-or.org">email</a></li>
  			  	  		<li><a href="fax">Fax (503) 275-9378</a></li>
  			  	  		<li><a href="#">Directions</a></li>
  			      	</ul>
  		      	</li>
  			    </ul>
  		  	</div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-sm-2 media">
        <ul class="supportMenu">
          <li><img class="media-object leftImage" id="leaveLegacySm" src="images/img_support/leaveALegacy2.jpg" alt="..."></li>
          <li><img class="media-object leftImage" id="run4Small" src="images/img_support/run4CathedralSm.png" alt="..."></li>
          <li><img class="media-object leftImage" id="auctionSmall" src="images/img_support/auctionPromoSm.jpg" alt="..."></li>

      </ul>
      </div>
      <div class="col-sm-8 col-lg-10">
        <div class="leaveALegacyHero noShowText">
        <div class="thumbnail">
          <img src="images/img_support/leaveALegacy2Big.jpg" alt="...">
          <div class="caption supportImage">
            <h3>Leave a Legacy</h3>
            <h4>The gift of an excellent Catholic education lasts for a lifetime.</h4>
          </div>
        </div>
        <div class="leaveALegacy">
          <div class="thumbnail">
            <p>Cathedral School is beginning a “Legacy and Faith Program” to encourage alumni, parents and other friends to make a lasting gift for future generations of Cathedral School.<br>
            &#34;Legacy&#34; gifts are bequests or estate designations in your will, trust, life insurance or retirement plan to benefit Cathedral School.  They are placed into the Cathedral School Endowment where they are preserved and the earnings are used for the ongoing support of students needing financial aid, maintaining excellent academic programs, and retaining the very best teachers.<br>
            &#34;The greatest need we have is to provide financial aid for students and families who cannot afford to pay tuition,&#34; said Amy Biggs, principal.  This past school year, 36 students, or 14 percent of the student body, received &#36;88,500 in financial aid.  &#34;Catholic education is a value and we want to be there for those students and families who otherwise would not be able to benefit from a Catholic education,&#34; she said.<br>
            A legacy gift speaks to the people you love and who matter most to you.  Think of children from families who desire a Catholic education, but can’t afford to pay.  The gift of an excellent Catholic education lasts for a lifetime.  Make that gift possible with your legacy provision.<br>
            There are many ways to structure a legacy gift.  It can be a fixed amount of money or a bequest of a specific item of property, such as a house.  Another way is to leave a residuary gift in your estate.  That involves leaving a percentage of the remaining value of your estate after all other bequests have been made.<br>
            Consult your estate-planning advisor to make sure your legacy plan expresses love for those who are most important to you.  We hope you will include Cathedral students among those who you love and want to remember.  To include Cathedral School in your legacy planning, our legal name is:  Cathedral Church, Portland Oregon.  Tax ID &#35;93-0978500.  Please contact <a href="mailto:tniedermeyer@cathedral-or.org
">Tracy Niedermeyer</a> regarding your legacy plans.

 </p>

          </div>
        </div>
      </div>
        <div class="cathedralAuctionHero">
        <div class="thumbnail">
          <img src="images/img_support/auctionPromo.jpg" alt="...">
          <div class="caption supportImage">
            <h3>2016 Annual Cathedral Auction</h3>
            <h4>Saturday, March 5th, 2016 at the Multnomah Athletic Club</h4>
          </div>
        </div>
        <div class="thumbnail supportHeroText">
        <p><div class="caption" id="auctionBox">
          <!-- <h3 id="">Cathedral Auction</h3> -->
          <p id="">The Auction is Cathedral School&rsquo;s largest fundraiser of the year. Every Cathedral auction aims to enhance our students&rsquo; educational experience by funding essential programs and opportunities that will benefit them, over and above those covered by the school’s operating budget. Previous auctions have funded such programs as upgrades to technology including laptop computers and iPads in every classroom; remodel of certain areas in the building; and most recently a new Art Room.<br><br>
          The auction night consists of the Super Silent, Silent Auction and the Live Auction. An example of Silent Auction offerings: wine, gift certificates for services, baskets full of goodies. After the Silent Auction closes, everyone moves into the main dinning room where the Dinner is served and the Live Auction commences. The Live Auction items are typically bigger items and projects created by each class. This is a traditional auction, with real auctioneers taking bids. If you want to bid on an item in the Live Auction, hold up your bidder paddle so your bidder number is visible and make sure the auctioneer and crew notices you. </p>
          <ul class="auctionActions">
            <li><a href="#" class="btn btn-md btn-success" id="auctionButton" role="button">More</a></li>
            <li><a href="https://csp.ejoinme.org/MyEvents/CathedralisBlooming/Registration/tabid/743675/Default.aspx" target="_blank" class="btn btn-md" id="donateNowButton" role="button">Buy Tickets</a></li>
            <li><a href="#" class="btn btn-md" id="auctionForms" data-toggle="modal" data-target="#formsModal">Forms</a></li>
            <li><a href="mailto:auction@cathedral-or.org" class="btn btn-md"><img src="images/img_support/mail.png" id="mailAuction" alt="email"></a></li>


          <h5 class="auctionMore noShowText">Why we changed the venue for the auction?</h5>
          <p class="auctionMore noShowText">
          After comparing the different venues around Portland, we were able to get the most affordable price at the Multnomah Athletic Club.</p>

          <h5 class="auctionMore noShowText">How do I donate to the auction?</h5>
          <p class="auctionMore noShowText">
          There are several ways that you can donate to the auction. Just download our procurement form ,email your completed form or mail your form to Cathedral School, Attn: Auction Office, 110 NW 17th ave Portland OR 97209. You can also stop by the Auction office with your donation.</p>

          <h5 class="auctionMore noShowText">I&rsquo;m not sure what to donate. What kinds of items would you like for the auction?</h5>
          <p class="auctionMore noShowText">
          We are looking for everything from amazing vacation getaways to spa packages to dinner parties&#33; Click the forms button to see our Wish List.</p>

          <h5 class="auctionMore noShowText">I&rsquo;m interested in being an Auction Sponsor, what do I do?</h5>
          <p class="auctionMore noShowText">Click the forms button for our sponsorship opportunities. You can also email the auction office or call 503.275.9370.</p>
          <h5 class="auctionMore noShowText">
          I’m interested in advertising in the Auction Catalog, what do I do?</h5>
          <p class="auctionMore noShowText">Click the forms button for our advertising rates or you can also email the auction office at <a href="mailto:auction@cathedral-or.org">auction@cathedral-or.org</a> or call 503.275.9370. </p>
        </div>
      </div>

<!-- Auction Forms Modal -->
<div class="modal fade" id="formsModal" tabindex="-1" role="dialog" aria-labelledby="formsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="formsModalLabel">Auction Forms</h4>
      </div>
      <div class="modal-body">
        <div class="list group">
          <a href="documents/support/procurementForm.pdf" class="list-group-item" target="_blank">Procurement Form</a>
          <a href="documents/support/auctionAdForm.pdf" class="list-group-item" target="_blank">Advertise in the Auction Program</a>
          <a href="documents/support/sponsorshipLevels.pdf" class="list-group-item" target="_blank">Become an Auction Sponsor</a>
          <a href="documents/support/wishList2016.pdf" class="list-group-item" target="_blank">Explore our Wish List For Donation Ideas</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="run4CathedralHero noShowText" id="run4CathedralHero">
    <div class="thumbnail">
      <img src="images/img_support/run4CathedralBig.png" alt="...">
      <div class="caption supportImage">
        <h3>Run 4 Cathedral</h3>
        <h4>Friday, October 2nd</h4>
      </div>
    </div>
    <div class="thumbnail">
    <p><div class="caption" id="run4CathedralBox">
      <p id="">Run 4 Cathedral, our 2nd largest fundraiser, is an annual jog-a-thon in which Cathedral School students participate to raise funds for enhancements to the school curriculum that would not be able to be funded through the school’s operating budget. A major portion of the proceeds raised provides the funding for the school’s 20 hour per week art program, in partnership with the Oregon College of Art and Craft. In addition, Run 4 Cathedral provides a portion of the funds for students to participate in Outdoor School and the Oregon Trail Overnight, and fully funds all field trips, in-class presentations, assemblies, student retreats, as well as other curriculum enhancements. </p>
      <p><a href="https://asp1110.towercare.com:19701/webDonation/" target=
        "#_blank" class="btn btn-md btn-primary" id="run4Donation" role="button">Donate Now</a><a href="#" class="btn btn-md btn-danger" id="run4Forms" data-toggle="modal" data-target="#run4Modal">Forms</a><a href="#" class="btn btn-md btn-success" id="run4Sponsors" role="button">Our Sponsors</a></p>
        <div class="run4More noShowText">
          <img src="images/img_support/run4Sponsors.jpg" alt="Run 4 Cathedral Sponsors">
        </div>
    </div>
  </div>
  <!-- Run4Cathedral Forms Modal -->
  <div class="modal fade" id="run4Modal" tabindex="-1" role="dialog" aria-labelledby="run4FormsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="run4FormsModal">Run 4 Cathedral Forms</h4>
        </div>
        <div class="modal-body">
          <div class="list group">
            <a href="documents/support/run4Pledge.pdf" class="list-group-item" target="_blank">Pledge Form</a>
            <a href="documents/support/run4BusinessPledge.pdf" class="list-group-item" target="_blank">Business Pledge Form</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>

	<footer>
        <div class="social">
        	<h4>Connect With Us </h4>
        	<a href="http://www.westwcea.org/"><img src="images/wceBadge2.jpg" alt="Western Catholic Badge"></a>
        	<a href="https://www.facebook.com/pages/Cathedral-School/472568026167913"><img src="images/facebookIcon.png" alt="facebook icon"></a>
        	<a href="https://twitter.com/CathedralPDXOR?lang=en"><img src="images/twitterIcon.png" alt="twitter icon"></a>
        	<a href="http://www.apple.com/education/apple-distinguished-schools/"><img src ="images/appleLogo.jpg" alt="apple distinguished school icon"></a>
        </div>
        <div class="clear"></div>
        <div class="copyright">&copy; 2015 All Rights Reserved</div>

   <!--  </div>
   </div> -->
</footer>

<!-- <a href="http://glyphicons.com" alt="glyphicons link">www.glyphicons.com</a> -->
  <!-- <script src="js/jquery.js"></script> -->
  <!-- <script src="js/bootstrap.min.js"></script> -->
   <script type="text/javascript" src="javascripts/support.js"></script>
</body>
</html>
